h1.login_error {
    text-align: center;
    color: red;
    font-size: 16px;
}

.login-container {
    width: 400px;
    margin: 0 auto;
}

.login-container input {
    margin-bottom: 20px;
}

.login-container input[type="submit"] {
    border: 1px solid #d6d6d6;
    height: 44px;
    padding-top: 0;
    padding-bottom: 0;

    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    padding: 8px 15px;
    margin-right: 1%;
    width: 100%;
    box-sizing: border-box;
}

.login-password {
    border: 1px solid #d6d6d6;
    height: 44px;
    padding-top: 0;
    padding-bottom: 0;

    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    padding: 8px 15px;
    margin-right: 1%;
    width: 100%;
    box-sizing: border-box;
}


.fusion-button.button-flat.button-round.button-xlarge.button-default.button-1.fusion-animated.slideInLeft {
    display: none;
}
