{% extends "base.twig" %}

{% block css %}
    <link rel='stylesheet' href='/assets/ui/login/css/custom.css?{{ assets_version }}' type='text/css' media='all'/>
{% endblock %}

{% block content %}
    <div class="page type-page hentry">
        <div class="post-content">
            <div class="signup-background">
                <div class="signup-title">WELCOME BACK. LOG IN BELOW.</div>
                <div class="signup-small-line"></div>

                <div class="segment sign_up_step_one">
                    <div class="segment_inner">

                        <form id="login-form" method="post" action="/login.php">

                            <input type="hidden" name="redirect" value="">

                            <center>
                                <div class="signup-table login-table">
                                    <h4 id="wrong_creds" style="display:none; color: #ff725e">Wrong login or password</h4>
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td valign="top">
                                                <div class="form_section">
                                                    <h2 data-fontsize="18" data-lineheight="27">Account Name:</h2>
                                                    <input type="text" name="username" value="">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">
                                                <div class="form_section">
                                                    <h2 data-fontsize="18" data-lineheight="27">Password:</h2>
                                                    <input type="password" name="password" value="">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button class="big-blue-button">LOG IN</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Forgot your password? <a href="/requestNewPassword.php">Reset it here.</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </center>
                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript">
        $(function () {
            if (URL_PARAMS.error_msg){
                $('#wrong_creds').show();
            }
            $('input[name=redirect]').val(URL_PARAMS.redirect || '');
            var $form = $('#login-form');
            
            var handler = function (event) {
                event.preventDefault();
                if (
                    $form.find('input[name=username]').val() && 
                    $form.find('input[name=password]').val()
                ){
                    $form.off('submit');
                    $form.submit();
                }
            };
            $form.on('submit', handler);
        });
    </script>
{% endblock %}