/*html,body {*/
	/*margin:0;*/
	/*padding:0;*/
	/*width:100%;*/
	/*height:100%;*/
/*}*/
body {
	color:#333;
	font-family:"Roboto", Lucida,Arial,Helvetica,sans-serif;
}
h1 {
	color:#333;
	font-size:20px;
}
a {
	color:#0095dd;
	text-decoration:none;
}
a:hover, a:focus {
	color:#2255aa;
	text-decoration:underline;
}
