
.videoplayer {
	width:100%;
	height:auto;
	margin:0 20px;
}
.videoplayer figcaption {
	display:block;
	font-size:16px;
}

.videoplayer-list {
    margin-top: 20px;
}
.videoplayer video {
	width: 100%;
    height:auto;
}
