.videoplayer_wide .video-js {
    width: 100%;
}

.videoplayer_wide .vjs-playlist {
    overflow-x: hidden;
    margin-left: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.videoplayer_wide .vjs-control-bar {
    background-color: #414141 !important;
}

.videoplayer_wide .vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-thumbnail img {
    opacity: 0.6 !important;
}

.videoplayer_wide .vjs-playlist-name {
    font-weight: bold;
}

.videoplayer_wide .scrollbar-style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.videoplayer_wide .scrollbar-style-1::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.videoplayer_wide .scrollbar-style-1::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.videoplayer_wide .video-column {
    padding-left: 0;
}