h1.error_box {
    color:red !important; 
    font-weight: bold !important;
    font-size: 15px !important;
}

h1.error_box.inactive {
    display: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}