h1.login_error {
	text-align: center;
	color: red;
	font-size: 18px;
}

.login-container {
	width: 400px;
	margin: 0 auto;
}

.login-container input {
	margin-bottom: 20px;
}

.login-container input[type="submit"] {
	border: 1px solid #d6d6d6;
	height: 44px;
	padding-top: 0;
	padding-bottom: 0;

	border: 1px solid #d2d2d2;
	font-size: 13px;
	color: #747474;
	padding: 8px 15px;
	margin-right: 1%;
	width: 100%;
	box-sizing: border-box;
}

.login-password {
	border: 1px solid #d6d6d6;
	height: 44px;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #d2d2d2;
	font-size: 13px;
	color: #747474;
	padding: 8px 15px;
	margin-right: 1%;
	width: 100%;
	box-sizing: border-box;
}

.form_section {
	font-size: 14px;
}

.form_section h2 {
	margin-bottom: 5px;
	margin-top: 20px;
}

.form_section input[type="password"],
.form_section input[type="tel"] {
	border: 1px solid #d6d6d6;
	height: 44px;
	padding-top: 0;
	padding-bottom: 0;
	border: 1px solid #d2d2d2;
	font-size: 13px;
	color: #747474;
	padding: 8px 15px;
	margin-right: 1%;
	width: 100%;
	box-sizing: border-box;
}

.plan_code_chooser {
	margin: 0 auto;
	width: 500px;
	text-align: center;
}

.page-template-page-signup #main {
	background: #2188bf;
}

.page-template-page-login #main {
	background: #2188bf;
}

.page-template-page-download #main {
	background: #2188bf;
}

.signup-background div.signup-title {
	font-size: 33px;
	color: #fff;
	text-align: center;
	font-family: 'Roboto';
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 0px;
}

.signup-small-line {
	width: 150px;
	border-top: 1px solid #fff;
	margin: 50px auto;
}

.signup-background p.signup-text {
	width: 70%;
	margin: 0 15%;
	color: #fff;
}

.signup-table {
	padding: 20px 40px 0 40px;
	background: #fff;
	margin: 50px auto;
	width: 700px;
}

.login-table {
	width: 520px;
}

.signup-table table {
	width: 100%;
}

#wrapper .signup-table table h2 {
	font-size: 18px;
	margin-bottom: 0;
}

.big-blue-button {
	background: #2188bf;
	width: 100%;
	height: 40px;
	border: none;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 18px;
	font-family: 'Roboto';
	font-weight: 100;
	line-height: 1.5;
	letter-spacing: 0px;
}

.cvv-number {
	width: 25%;
	float: right;
}

.cc-number {
	width: 70%;
	float: left;
}

.billing-trial-info {
	position: relative;
	top: -30px;
	float: right;
}

strong.blue-billing-info {
	font-size: 16px;
	color: #2188bf;
	font-weight: 400;
	font-family: Arial;
}

span.blue-billing-info {
	font-size: 16px;
	color: #2188bf;
}

.signup-error {
	color: red;
}

.post-content .signup-table h1 {
	font-size: 20px;
}

.download-button {
	width: 300px;
	height: 75px;
	background: #2188bf;
	font-size: 22px;
	text-align: center;
	line-height: 75px;
	margin-top: 10px;
	color: #fff;
	display: block;
	margin-bottom: 40px;
	float: left;
}

.download-button:hover {
	color: #eee;
}

.download-button.next-button {
	float: right;
	background: #b0d0b0;
}

.billing-table-container {
	
}

.signup-table.billing-left {
	width: 30%;
	float: left;
}

.signup-table.billing-right {
	float: left;
	width: 65%;
	margin-left: 15px;
}

.price-row {
	width: 100%;
	height: 50px;
}

.price-left {
	float: left;
	width: 20%;
	height: 50px;
	padding-right: 10px;
	line-height: 50px;
	text-align: right;
	font-size: 24px;
	font-weight: 100;
	color: #5c5c5c;
}

.price-right {
	float: left;
	width: 30%;
	height: 50px;
	padding-left: 10px;
	line-height: 50px;
	text-align: left;
	font-size: 24px;
	font-weight: 100;
	color: #5c5c5c;
}

.price-border {
	float: left;
	width: 50%;
	height: 25px;
	border-bottom: 1px solid #008abb;
}

.price-row:first-child {
	border: 2px solid #008abb;
}

.post-content .billing-table-container p {
	color: #5c5c5c;
	text-align: center;
	margin: 40px 0 0 0;
	line-height: initial;
}

.post-content .billing-table-container p:last-child {
	margin: 20px 0 40px 0;
}

.simple-email-container {
	position: absolute;
	top: 127px;
	z-index: 1000;
	width: 230px;
	text-align: center;	
	right: 50px;
}

.simple-email-button {
	background: #fff;
	border-radius: 2px;
	padding: 10px 20px;
	display: block;
	border: 2px solid #2188bf;
}

.simple-email-form {
	display: none;
}

.simple-email-form input[type="submit"] {
	background: #fff;
	border: none;
	padding: 5px 15px;
	margin-top: 10px;
}

.simple-email-form input[type="text"] {
	background: #fff;
}

.sp-email-form {
	background: #fff;
	padding: 20px;
	border-radius: 2px;
	border: 2px solid #2188bf;
}
