.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    display: none;
}

.video-popup .video-popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .7;
}

.video-popup .close-video {
    position: absolute;
    top: 3px;
    right: 0;
    height: 36px;
    width: 36px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.video-popup .close-video:hover {
    top: 0;
    font-size: 36px;
}

.video-popup video {
    position: absolute;
}

