.right {
    float: right;
}

.left {
    float: left
}

.redErrorMarker {
    color: red !important;
    font-weight: bold !important;
}

.redErrorMarker::placeholder {
    color: red !important;
    font-weight: bold !important;
}

.theWarningMarker {
    color: #c78100 !important;
    font-weight: bold !important;
}

.theWarningMarker::placeholder {
    color: #c78100 !important;
    font-weight: bold !important;
}

#buildCampaignModal .modal-wide {
    width: 1200px;
    max-width: 1200px;
}

#buildCampaignModal hr {
    border-top: 2px solid #8c8b8b;
}

#buildCampaignModal .modal-header {
    background-color: #085394;
    color: white;
}

#buildCampaignModal .modal-header .modal-title {
    margin: 0 auto;
    font-weight: bold;
}

#buildCampaignModal .modal-body {
    padding: 0 !important;
}

#buildCampaignModal .assembled-url {
    height: 33px;
    width: 100%;
    padding: 5px;
    border: solid 1px #008cc9;
    margin: 0 1px 2px 1px;
}

#buildCampaignModal .assembled-url button{
    height: 25px;
    line-height: 13px;
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
}

#buildCampaignModal .assembled-url div {
    width: 1050px;
    margin-top: -3px;
    height: 27px;
    border: none;
    color: #0275d8;
    font-weight: bold;
    overflow-x: scroll;
    overflow-y: hidden;
    line-height: 33px;
}

#buildCampaignModal .assembled-url div>div {
    width: 10000px;
}

#buildCampaignModal .assembled-url div::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

#buildCampaignModal .assembled-url div::-webkit-scrollbar
{
    height: 3px;
	background-color: #F5F5F5;
}

#buildCampaignModal .assembled-url div::-webkit-scrollbar-thumb
{
	background-color: #0275d8;
}

#buildCampaignModal .campaign_controls_header input {
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    width: 250px;
}

#buildCampaignModal .campaign_controls_header > .item {
    margin: -3px 7px 0 7px;
}

#buildCampaignModal .campaign_controls_header > .btn {
    border-color: #cbeaff;
    background-color: #008cc9;
    font-weight: bold;
}

#buildCampaignModal span.titleNote {
    color: grey;
    font-size: 0.7em;
    text-decoration: underline;
    line-height: 2em;
    margin: 0 20px 0 0;
    cursor: pointer;
}

/*#buildCampaignModal .form_section,*/
/*#buildCampaignModal .help_info_section,*/
/*#buildCampaignModal .campaign_modal_summary_panel {*/
/*height: 700px;*/
/*}*/

#buildCampaignModal label[for="campaign_builder_title_tool_select"] {
    line-height: 30px;
}

#buildCampaignModal .selectTitleQuery {
    width: 100%;
    height: 26px;
}

#buildCampaignModal .modal-content {
    border-right: 1px solid #999999;
}

.campaign_modal_wrapper {
    box-sizing: border-box;
    background-color: #fff;
    height: calc(100% - 80px);
}

.campaign_modal_body {
    width: 100%;
    height: 750px;
    box-sizing: border-box;
    background-color: #DDDDDD;
    /*height: calc( 100% - 100px );*/
}

.campaign_modal_tabs {
    background-color: #FFFFFF;
    width: 210px;
    display: inline-block;
    padding-right: 1px;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #999999;
    margin-top: -1px;
}

.campaign_modal_tabs nav.tab_fields div.tab {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: #008cc9;
    border: 1px solid #008cc9;
    height: 30px;
    box-sizing: border-box;
    line-height: 28px;
    margin: 1px 0;
    padding-left: 5px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.campaign_modal_tabs nav.tab_fields div.tab.showing {
    color: #fff;
    background-color: #008cc9;
}

.campaign_modal_tabs nav.tab_fields div.tab.has-data {
    color: black !important;
    background-color: #DDDDDD !important;
    font-style: italic;
}

.campaign_modal_tabs nav.tab_fields div.tab.has-data.showing {
    color: #fff !important;
    background-color: #008cc9 !important;
    font-style: italic;
}

nav.tab_fields {

    display: block;
    border-left: 0px;
    padding: 0 0 0 1px;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    overflow-y: auto;

}

/*---------------------------------------------------------------------------------------------*/

#buildCampaignModal .form_section {
    width: 360px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: inline-block;
    border-right: 1px solid #999999;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100%;
    vertical-align: top;
    background-color: #EEEEEE;
}

.form_section .checkbox {
    display: block;
}

.form_section input {
    box-sizing: border-box;
    margin: 10px 0;
}

.form_section input[type="text"] {
    display: block;
    width: 100%;
}

.form_section input[type="checkbox"] {
    margin-right: 5px;
}

/*---------------------------------------------------------------------------------------------*/

#buildCampaignModal .help_info_section {

    width: 370px;
    height: 100%;
    overflow: hidden;
    float: right;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #DDDDDD;
    border-right: 1px solid #999999;
}

#buildCampaignModal .help_info_section .input {
    width: 100%;
}

#buildCampaignModal .help_info_section em {
    font-weight: bold;
    font-style: normal;
}

nav.tab_fields .starred_tab:before {
    content: '\2605';
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 0;

}

.campaign_modal_main_panel {
    width: 730px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-left: -3px;
}

.campaign_modal_summary_panel {
    width: 255px;
    display: inline-block;
    vertical-align: top;
    background-color: #CCCCCC;
    height: 100%;
    padding: 10px;
    margin-left: -3px;
    overflow-y: auto;
}

#buildCampaignModal.hide-tips .modal-dialog {
    width: 826px !important;
}

#buildCampaignModal.hide-tips .campaign_modal_main_panel {
    width: 357px !important;
}

/*#buildCampaignModal.hide-tips .campaign_modal_main_panel .form_section{*/
/*width: 100% !important;*/
/*}*/
/*#buildCampaignModal.hide-tips .campaign_modal_summary_panel {*/
/*width: 30% !important;*/
/*}*/

#buildCampaignModal.hide-tips .help_info_section {
    display: none !important;
}

#buildCampaignModal.hide-tips #showTitleTips {
    display: inline-block !important;
}

#campaign_title_tool_list {
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#campaign_title_tool_list > ul {
    list-style: none;
    line-height: 1.5em;
    /* margin-left: -33px; */
    padding-left: 5px;
}

#campaign_title_tool_list > .loading_wrapper {
    height: 40px;
    width: 35px;
    padding: 0;
    border: none;
    margin: 5px auto;
}

#campaign_title_tool_list .loading {
    display: none;
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0;
    border: none;
    background-image: url("/assets/images/black_spinner.gif");
}

#campaignSummaryTree {
    font-size: 14px;
    font-weight: bolder;
}

#campaignSummaryTree ul > li > ul > li {
    font-size: 12px;
    font-weight: normal;
}

#campaignSummaryTree > ul.jqtree-tree > li > div.jqtree-element > span.jqtree-title {
    color: #008cc9;
    font-weight: bold;
    border-bottom: 2px solid #979797;
    float: left;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 3px;
}

#campaignSummaryTree > ul.jqtree-tree > li > div.jqtree-element > a.jqtree-toggler {
    float: left;
}

#campaignSummaryTree > ul.jqtree-tree > li > ul > li > div.jqtree-element > span.jqtree-title-folder {
    color: #008cc9;
    font-weight: normal;
}

form#autoCampaignForm {
    height: 100%;
}

.campaign_modal_main_panel label {
    display: block;
    font-size: 14px;
    line-height: 13px;
}

.campaign_modal_main_panel label input {
    margin: 2px 5px 0 0;
}

div.tab_field {
    display: none;
    height: 100%;
}

div.tab_field.showing {

    display: block;

}

.campaign_modal_footer {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid #d9d9d9;
    padding: 15px;
    height: 76px;
}

.campaign_modal_footer .buttons {
    position: absolute;
    top: 18px;
    right: 15px;
}

.campaign_modal_body h5 {
    color: #008cc9;
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 16px;
}

/*.campaign_modal_body p{*/
/*font-size:12px;*/
/*}*/

h5.underline {
    border-bottom: 2px solid #979797;
}

div.suggestions ul.box li {

    border: 1px solid #ddd;
    margin-top: 1px;
    display: block;
    padding: 0;
    height: 25px;
    line-height: 25px;

}

div.suggestions ul.box li.active {

    background-color: #ddd;

}

.location-row label {
    display: inline-block;
}

div.campaign-builder-parameters input[name="campaign_name"] {

    width: 80%;
    height: 100%;
    /*	border:none;*/
    padding-left: 10px;
    outline: none;
    font-size: 16px;

}

.campaign_modal_main_panel .parameter-title {
    margin-bottom: 5px;
    color: #008cc9;
}

.nav.nav-tabs {
    display: none;
}

.modal_menu_badge {
    float: right;
    margin: 4px 3px;
    display: inline-block;
    background-color: #008cc9;
    overflow: hidden;
    height: 20px;
    border-radius: 14px;
    line-height: 17px;
    padding: 1px 6px 1px 4px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

ul.jqtree-tree .jqtree-toggler {
    color: #008cc9 !important;
}

#buildCampaignModal .modal-issues {
    font-size: 14px;
    width: 100%;
    height: auto;
    font-weight: bold;
    padding: 14px 20px;
}

#buildCampaignModal .modal-issues > p {
    margin: 0;
    font-size: 14px;
}

#buildCampaignModal .modal-errors {
    color: red;
}

#buildCampaignModal .modal-warnings {
    color: #C78103;
}

#buildCampaignModal .modal-info {
    color: green;
}

#buildCampaignModal .location-selector > ul {
    list-style: none;
    margin-left: -35px !important;
}

#buildCampaignModal .location-selector > ul > li {
    font-size: 15px;
}

#buildCampaignModal .location-selector > ul > li > .location_box_item_close {
    display: inline-block;
    margin: 0 10px -5px 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
}

#buildCampaignModal .location-selector > ul > li > .text {
    display: inline-block;
    margin-bottom: 5px;
}

#buildCampaignModal .campaign-builder-urls {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;

	padding: 15px;
/*	background: #ddd;*/
	display: none;
}

#buildCampaignModal .campaign-builder-urls .query-urls-list {
	width: 100%;
	height: 300px;
    overflow: scroll;
    list-style: none;
}

#buildCampaignModal .campaign-builder-urls .query-enter-url {
	width: 100%;
	height: 100px;
}

#buildCampaignModal .campaign-builder-urls .help-message {
    font-size: 15px;
    font-weight: normal;
}
#buildCampaignModal .campaign-builder-url-toggle {
    color: white;
    font-style: italic;
    margin-right: 10px;
/*    text-decoration: underline;*/
    font-weight: bold;
}

#buildCampaignModal .campaign-builder-urls .btn {
    margin: 20px 30px 20px 0;
}

#buildCampaignModal .added-url-item{
    line-height: 25px
}

#buildCampaignModal .close-added-url {
    float: left;
    margin-right: 25px;
}

#buildCampaignModal .query-urls-list .number {
    line-height: 22px;
    font-weight: bold;
}

#buildCampaignModal .checkbox-grouped .percents, #buildCampaignModal .group-header .percents {
    float: right
}

#buildCampaignModal .group-header {
    color: #008cc9;
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 16px;
}

.modal-header-extra {
    padding: 8px 20px;
}
.message-wr {
    display: inline-block;
    position: relative;
    width: 550px;
}
.message-wr textarea {
    width: 100%;
    padding-right: 15px;
    min-height: 100px;
    height: 120px;
} 
.character-counter {
    position: absolute;
    right: 2px;
    top: -1px;
    font-size: 12px;
}
.btn-add-name {
    /* position: absolute;
    right: -90px;
    top: 0; */
    padding: 3px 10px;
    margin-bottom: 5px;
    background: #008cc9;
    color: #fff;
    font-size: 14px;
}

#mainItcMessageField.changed {
    color: #000;
}

#mainItcMessageField {
    color: #808080;
}