@font-face {
	font-family: 'sf-ui';
	src: url('/assets/fonts/SFUIText-Regular.eot');
	src: local('☺'), url('/assets/fonts/SFUIText-Regular.woff') format('woff'), url('/assets/fonts/SFUIText-Regular.ttf') format('truetype'), url('/assets/fonts/SFUIText-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sf-ui-sb';
	src: url('/assets/fonts/SFUIText-Semibold.eot');
	src: local('☺'), url('/assets/fonts/SFUIText-Semibold.woff') format('woff'), url('/assets/fonts/SFUIText-Semibold.ttf') format('truetype'), url('/assets/fonts/SFUIText-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'sf-ui-b';
	src: url('/assets/fonts/SFUIText-Bold.eot');
	src: local('☺'), url('/assets/fonts/SFUIText-Bold.woff') format('woff'), url('/assets/fonts/SFUIText-Bold.ttf') format('truetype'), url('/assets/fonts/SFUIText-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


