@font-face {
    font-family: futuraScript;
    src: url(futuraScript.ttf);
}
html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, p {
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}
.logo {
    width: 330px;
    height: 125px;
    display: inline-block;
    background-image: url(/assets/ui/landing/images/logo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
    .logo {
        max-width: 200px;
        height: 80px;
    }
}
.header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    .header-menu {
        display: none;
        width: 100%;
        text-align: center;
        margin-bottom: 15px;

    }
    .header-menu.open {
        display: block;
    }
}
.menu-item {
    display: inline-block;
}
.item-link {
    padding: 0 10px;
    text-decoration: none;
    color: #c1c1c1;
    font-weight: 700;
    font-size: 16px;
}
/* ----- top-block ----- */
.top-block {
    text-align: center;
    background: url(/assets/ui/landing/images/header_bg.png);
    padding: 140px 15px;
}

.top-block.about-us {
    background: url(/assets/ui/landing/images/about-us.png);
}

@media only screen and (max-width: 767px) {
    .top-block {
        padding: 120px 15px;
    }
}
.top-block__title {
    font-family: futuraScript;
    font-size: 72px;
    color: #fff;
    font-weight: 500;
}
@media only screen and (max-width: 767px) {
    .top-block__title {
        font-size: 50px;
    }
}
.top-block__description {
    font-size: 24px;
    color: #fff;
    margin-top: -7px;
}
@media only screen and (max-width: 767px) {
    .top-block__description {
        font-size: 20px;
        margin-top: 15px;
    }
}
.btn-consultation {
    display: inline-block;
    border: 5px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
    width: 100%;
    max-width: 360px;
    font-size: 19px;
    color: #fff;
    padding: 28px 0px;
    margin-top: 75px;
    cursor: pointer;
    text-decoration: none;
}
@media only screen and (max-width: 767px) {
    .btn-consultation {
        padding: 16px 0px;
        font-size: 18px;
        border-width: 3px;
    }
}

/*  customer-wr  */
.customer-wr {
    padding: 20px 0 40px;
    text-align: center;
    background-color: #eee;
}
.customer-title {
    margin-bottom: 44px;
    font-size: 17px;
    color: #c1c1c1;
}
.customer-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .customer-list {
        flex-flow: row wrap;
    }
}
@media only screen and (max-width: 375px) {
    .customer-list {
        flex-direction: column;
    }
}
.customer-item {
    padding: 0 10px;
}
.customer-item img {
    max-width: 200px;
    vertical-align: top;
    display: inline-block;
    width: 100%;
}
.toggle-btn {
    display: none;
    padding: 7px;
    position: absolute;
    right: 0;
    top: 25px;
    background: transparent;
    border-radius: 2px;
    border: 1px solid #ddd;
}
@media only screen and (max-width: 767px) {
    .toggle-btn {
        display: inline-block;
    }
}
.toggle-btn span {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #c1c1c1;
}
.toggle-btn span:nth-child(2) {
    margin: 6px 0;
}

/* diraction  */
.direction {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 40px 0;
    flex-flow: row wrap;
}
.direction-item {
    width: 33%;
    max-width: 250px;
    padding: 90px 10px 0 15px;
    position: relative;
    margin-bottom: 25px;
    flex: 1 1 215px;
}
.direction-item::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.direction-item.item_1::before {
    background-image: url(/assets/ui/landing/images/target-ic.jpg);
}
.direction-item.item_2::before {
    background-image: url(/assets/ui/landing/images/message-ic.jpg);
}
.direction-item.item_3::before {
    background-image: url(/assets/ui/landing/images/arrows-ic.jpg);
}
.diration-title {
    margin-bottom: 17px;
    font-size: 18px;
    color: #c1c1c1;
    font-weight: 700;
}
/* footer-block  */
.footer-block {
    padding: 75px 15px;
    background-image: url(/assets/ui/landing/images/footer_bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.footer-block__title {
    color: #fff;
    font-size: 38px;
    text-align: center;
    letter-spacing: -3px;
    max-width: 700px;
    margin: 0 auto;
    line-height: 46px;
}
@media only screen and (max-width: 767px) {
    .footer-block__title {
        font-size: 35px;
    }
}
.footer-block .btn-consultation {
    margin: 38px 0 70px;
}
@media only screen and (max-width: 767px) {
    .footer-block .btn-consultation {
        margin-bottom: 0;
    }
}
/* footer  */ 
footer {
    background-color: #555;
    padding: 43px 0 15px;
}
@media only screen and (max-width: 767px) {
    .footer-form-wr {
        margin-top: 15px;
    }
}
@media only screen and (max-width: 374px) {
    footer {
        text-align: center;
    }
}
.footer-logo {
    display: inline-block;
    width: 200px;
    height: 34px;
    background-image: url(/assets/ui/landing/images/logo-grey.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
hr {
    border-color: #c1c1c1;
    margin-bottom: 0;
}
.contact-list {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding-left: 0;
}
.contact-item {
    display: inline-block;
    padding: 0 12px;
    font-size: 10.7px;
    color: #fff;
    border-left: 2px solid #c1c1c1;
    border-right: 2px solid #c1c1c1;
    line-height: 12px;
}
@media only screen and (max-width: 767px) {
    .contact-item {
        padding: 0 7px;
    }
}
@media only screen and (max-width: 374px) {
    .contact-item {
        border-right: none;
        padding-right: 0;
    }
}
.contact-item:first-child {
    padding-left: 0;
    border: none;
}
.contact-item:last-child {
    padding-right: 0;
    border: none;
}
@media only screen and (max-width: 374px) {
    .contact-item:last-child {
        padding-left: 0;
    }
}
.contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
    .contacts {
        flex-flow: column;
    }
}
.subscribe-form {
    margin: 0;
    position: relative;
    padding-right: 77px;
}
@media only screen and (max-width: 767px) {
    .subscribe-form {
        max-width: 400px;
    }
}
.subscribe-form-title {
    font-size: 10.7px;
    color: #fff;
    text-align: right;
    margin: 5px 0 12px;
}
@media only screen and (max-width: 767px) {
    .subscribe-form-title {
        text-align: left;
    }
}
.subscribe-form .field-email {
    color: #fff;
    background: transparent;
    padding: 14px 10px;
    width: 175px;
    border: 2px solid #fff;
}
@media only screen and (max-width: 767px) {
    .subscribe-form .field-email {
        width: 100%;
    }
}
.subscribe-form .btn {
    color: #fff;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0px;
    bottom: 0;
    padding: 15px 12px;
    border: 2px solid #fff;
    border-left: none;
    text-transform: uppercase;
    font-size: 9px;
}
.copyright {
    font-size: 12px;
    color: #fff;
    margin-top: 42px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
color: #fff;
}

/* about-us */ 
.about-us__description {
    display: flex;
    padding: 70px 0;
}
@media only screen and (max-width: 767px) {
    .about-us__description {
        flex-direction: column;
        padding: 40px 0;
    }
}
.img-wr, .description {
    flex: 1 1 50%;
    margin: 0 20px;
}
@media only screen and (max-width: 767px) {
    .img-wr, .description {
        flex: none;
        margin: 0;
    }
}
.img-wr {
    background-image: url(/assets/ui/landing/images/about-us-desc.png);
    background-position: center;
    background-size: cover;
}
.img-wr img {
    display: none;
}
@media only screen and (max-width: 767px) {
    .img-wr img {
        display: block;
        width: 100%;
    }
    .img-wr {
        margin-top: 20px;
        order: 2;
        background: none;
    }
}
.description {
    font-size: 30px;
    color: #446680;     
}
@media only screen and (max-width: 1024px) {
    .description {
        font-size: 26px;
    }
}