/*
	Theme Name: ViewGenTools
	Theme URI: http://www.viewgentools.com
	Description: Be spoke theme created for viewgentools.com
	Version: 1.0
	Author: Kevin V.
	Author URI: http://www.9thdesign.com
	Tags: HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

header {
	display: none;
}

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 14px/22px Lato, sans-serif;
	color:#292b2c;
   /* padding:0px 35px;*/
   padding: 0;
    background:#636466;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
}
.group:before,.group:after {content:"";display:table;}
.group:after {clear:both;}
.group {zoom:1;}
*:focus {
    outline: none;
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {width:100%;position:relative;}
.main_content {background:#f3f4eb;overflow:hidden;padding-right:286px;}

/* header */
.header {height:80px;background:#ffffff;border-bottom:1px solid #d9d9d9;}
.logo {width:285px;float:left;}
.logo img {margin:14px 0px 10px 16px;}
.header h1 {font-size:30px;line-height:80px;padding:0px 0px 0px 45px;margin:0;float:left;}

/* sidebar */
.sidebar {width:285px;float:left;background:#ffffff;margin-top: -9999px;margin-bottom: -9999px;padding-top: 9999px;padding-bottom: 9999px;margin-left:1px;}
.sidebar .ui-accordion .ui-accordion-content {padding:0px;border-top:0;}
.sidebar .ui-accordion-content ul {padding:0px;margin:0px;}
.sidebar .ui-accordion-content ul li {list-style-type:none;}
.sidebar .ui-accordion-content ul li a {display:block;}
.ui-widget {font-family:Lato, sans-serif;}
.ui-widget-content {border:0;}
.ui-accordion .ui-accordion-header {margin:0px 0px 1px 0px;background:#ffffff;font-weight:bold;font-size:14px;line-height:44px;height:44px;border:2px solid #008cc9;padding:0px 15px;color:#008cc9;}
.ui-accordion .last.ui-accordion-header {border-bottom:1px solid #eeeeee;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-right-radius: 0px;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius: 0px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-bottom-right-radius: 0px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {border-bottom-left-radius: 0px;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {background:none;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {background:none;}
.sidebar .ui-widget-content a {padding:8px 12px 8px 8px;border-left:6px solid #ffffff;font-size:16px;letter-spacing:1px;font-weight:bold;color:#5c5b5c;line-height:1.5;border-bottom:1px solid #eee;}
.sidebar .ui-widget-content a.active {background:#f3f5eb;border-left:6px solid #008cc9;}

/* content */
#main {margin: 0 -286px 0 auto;width: 100%;float:right;}
#single-post-container {padding:35px 45px 30px 45px;background:#f3f5eb;}
#single-post-container h1.article_title {color:#1f88c0;margin:0px 0px 25px 0px;font-size:26px;line-height:34px;font-weight:normal;padding-bottom:14px;border-bottom:1px solid #dadada;display:block;}
.entry {font-size:16px;font-weight:400;}
.entry a {color:#1f88c0;}
.entry a:hover {text-decoration:underline;}
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {width: 100% !important;height: 100% !important;}
.mejs-container {padding-top: 56.25%;}
.wp-video, video.wp-video-shortcode {max-width: 100% !important;}
video.wp-video-shortcode {position: relative;}
.mejs-mediaelement {position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.mejs-controls {display: none;}
.mejs-overlay-play {top: 0;right: 0;bottom: 0;left: 0;width: auto !important;height: auto !important;}
.ui-icon-triangle-1-e, .ui-icon-triangle-1-s {display:none !important;}

.search {position:relative;}
input.search-input{width:100%;background:#ffffff;border:1px solid #d9d9d9;border-top:0;line-height:38px;line-height:22px;font-size:14px;padding:9px 18px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
button.search-submit{position:absolute;right:10px;top:4px;background:url(img/icons/search.png) no-repeat;border:0;z-index:1;width:32px;height:32px;text-indent:-9999em;} 

#search_results {margin-bottom:40px;}
#search_results h2 {padding-left:15px;margin:0px;font-size:18px;margin-bottom:15px;margin-top:15px;color:#1f88c0;}
#search_results h4 {padding-left:15px;margin:0px;font-size:18px;margin-bottom:10px;margin-top:15px;font-weight:normal;}
#search_results ul {padding:0px;margin:0px;}
#search_results li {list-style-type:none;}
#search_results li a {padding:8px 12px 8px 8px;border-left:6px solid #ffffff;font-size:16px;letter-spacing:1px;font-weight:bold;color:#5c5b5c;line-height:1.5;border-top:1px solid #eee;display:block;}
#search_results li a:last {border-bottom:0;}
#search_results li a.active {background:#f3f5eb;border-left:6px solid #008cc9;}

/* footer */
.footer {display:none;text-align:center;padding:20px 0px;font-weight:bold;font-size:16px;line-height:30px;}
.footer a {color:#ffffff;}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:1280px) {
}
@media only screen and (max-width:320px) {

}
@media only screen and (max-width:480px) {

}
@media only screen and (max-width:768px) {
    body {padding:0px 15px 0px 15px;}
    .header {height:auto;}
    .header h1 {padding-left:0px;line-height:30px;margin-bottom:25px;text-align:center;float:none;}
    .logo {text-align:center;}
    .logo img {margin-left:0;padding-left:0;margin-bottom:5px;}
    .sidebar, .logo {width:100%;}
    #single-post-container {width:100%;padding:20px 15px;}
    .footer {display:block;}
    .main_content {padding-right:0;}
    #main {margin-right:0px;}
    .ui-accordion .ui-accordion-header {font-size:16px;}
}
@media only screen and (max-width:1024px) {

}
@media only screen and (max-width:1140px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
