<script src="/assets/vendor/jquery/jquery-3.min.js?{{ assets_version }}"></script>

<script type="application/javascript" src="/assets/js/utilities.js?{{ assets_version }}"></script>

<script type="application/javascript" src="/assets/js/app.js?{{ assets_version }}"></script>

<!-- Start of viewgen Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var e=this.createElement("script");n&&(this.domain=n),e.id="js-iframe-async",e.src="https://assets.zendesk.com/embeddable_framework/main.js",this.t=+new Date,this.zendeskHost="viewgen.zendesk.com",this.zEQueue=a,this.body.appendChild(e)},o.write('<body onload="document._l();">'),o.close()}();
    /*]]>*/</script>
<!-- End of viewgen Zendesk Widget script -->

<!-- Hotjar Tracking Code for www.viewgentools.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:538785,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<script>
    $(function () {
        $('.simple-email-container a.simple-email-button').click(function () {
            $(this).hide();
            $('.simple-email-form').show();
        });

        {% if errors %}
            {% for name, message in errors %}
               $('#error_box__{{ name }}').html('{{ message | raw }}').show();
            {% endfor %}
        {% endif %}
        
    });
</script>
