<!DOCTYPE html>
<html class="" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{{ title }} &#8211; ViewGen</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    
    {% include('include/favicon.php') %}
    
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="ViewGen"/>
    <meta property="og:description"
          content="Your free trial will run for 7 days. ViewGen is so effective that you should see immediate results. Typical users should be able to be seen by 1000’s of prospects in the first week. You can expect to see between 200 and 400 specific prospects who visit your profile each week and 20-40 connection"/>
    <meta property="og:image"
          content="http://viewgentools.com/assets/images/ViewGenFinalLogo-01.png"/>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    {% block css %}{% endblock %}
</head>

<body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93459439-1', 'auto');
    ga('send', 'pageview');
</script>
<style type="text/css">
    body {
        margin: 0 !important;
        font-family: 'Montserrat', sans-serif;
    }
    .container {
        padding: 0 15px;
        max-width: 920px;
        margin: 0 auto;
    }
    .color-overlay {
        padding: 40px;
        background-image: url(/assets/images/person-page.jpg);
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .header-block {
        width: 55%;
        float: left;
    }
    .header-block:last-child {
        float: right;
        width: 40%;
        max-width: 360px;
    }

    .lp-pom-text {
        color: #fff;
        font-size: 20px;
        line-height: 29px;
    }

    .form-wr {
        padding: 20px 30px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 5px;
    }
    .form-wr label {
        color: #5d5d5d;
        font-weight: bold;
        font-size: 16px;
    }
    .form-wr input {
        width: 100%;
        display: block;
        background-color: #ffffff;
        color: #000;
        border-radius: 20px;
        line-height: 30px;
        border: none;
        margin-top: 5px;
        box-sizing: border-box;
    }

    form {
        /*margin-top: 35px;*/
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form-group input {
        padding: 0 15px;

    }

    .trial-btn {
        background-color: rgba(0,186,242,1);
        border-style: none;
        border-radius: 42px;
        width: 100%;
        height: 45px;
        color: #fff;
        font-size: 24px;
        line-height: 19px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;
    }

    .block-content {
        max-width: 920px;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
        padding: 70px 0;
    }
    .block-item {
        width: 33%;
        float: left;
        padding: 0 35px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 22px;
    }

    .icon {
        display: inline-block;
        width: 60px;
        height: 39px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .block-item p {
        text-align: left;
    }
    .block-item .icon {
        background-image: url(/assets/images/accounts.png);
    }
    .block-item:first-child .icon {
        background-image: url(/assets/images/users.png);
    }
    .block-item:last-child .icon {
        background-image: url(/assets/images/domains.png);
    }

    .error_box {
        color: red;
        font-size: 13px;
        padding-left: 15px;
        display: inline-block;
    }



</style>

{% block content %}{% endblock %}


<div class="separated-block" style="height: 120px; background-image: url(/assets/images/background.jpg); background-size: cover;"></div>
<div class="footer-block" style="padding: 50px; 0">
    <div class="container">
        <div style="text-align: center;">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <div  style="font-size: 14px;">
            <p style="text-align: center; line-height: 15px;">
                <span style="color: rgb(130, 130, 130);">www.viewgentools.com</span>
            </p>
            <p style="text-align: center; line-height: 15px;">
                <span style="color: rgb(130, 130, 130);">info@viewgentools.com | Copyright 2017</span>
            </p>
            <p style="text-align: center; line-height: 15px;">
                        <span style="color: rgb(130, 130, 130);">
                            <small>ViewGen does not have any association with LinkedIn Corporation. LinkedIn Corporation does not endorse the use of ViewGen
                            <br>
                            </small>
                        </span>
            </p>
        </div>
    </div>
</div>


{% include('base_scripts.twig') %}

{% block scripts %}{% endblock %}


</body>
</html>
