<!DOCTYPE html>
<html class="" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>{{ title }} &#8211; ViewGen</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    
    {% include('include/favicon.php') %}
    
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="ViewGen"/>
    <meta property="og:description"
          content="Your free trial will run for 7 days. ViewGen is so effective that you should see immediate results. Typical users should be able to be seen by 1000’s of prospects in the first week. You can expect to see between 200 and 400 specific prospects who visit your profile each week and 20-40 connection"/>
    <meta property="og:image"
          content="http://viewgentools.com/assets/images/ViewGenFinalLogo-01.png"/>

    <link rel='stylesheet' id='fontawesome-css'
          href='/assets/vendor/fontawesome/css/font-awesome.min.css?{{ assets_version }}' type='text/css'
          media='all'/>

    <link rel='stylesheet' id='avada_google_fonts-css'
          href='https://fonts.googleapis.com/css?family=Roboto%3A300%2C100&#038;subset=latin' type='text/css'
          media='all'/>
    <link rel='stylesheet' id='ls-google-fonts-css'
          href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin%2Clatin-ext'
          type='text/css' media='all'/>
    

    {#<link rel='stylesheet' id='layerslider-css' href='/assets/css/vendor/components/layerslider.css' type='text/css' media='all'/>#}
    <link rel='stylesheet' href='/assets/vendor/theme/avada/css/avada-main.min.css?{{ assets_version }}' type='text/css' media='all'/>
    <link rel='stylesheet' href='/assets/vendor/theme/avada/css/avada-additional.css?{{ assets_version }}' type='text/css' media='all'/>
    <link rel='stylesheet' href='/assets/css/theme/avada-custom.css?{{ assets_version }}' type='text/css' media='all'/>

    <link rel='stylesheet' href='/assets/ui/common/css/main.css?{{ assets_version }}' type='text/css' media='all'/>
    
    {% block css %}{% endblock %}
</head>

<body
    class="page-template page-template-page-signup page-template-page-signup-php page page-id-13720 fusion-body no-tablet-sticky-header no-mobile-sticky-header no-mobile-slidingbar no-mobile-totop mobile-logo-pos-left layout-wide-mode fusion-top-header menu-text-align-center mobile-menu-design-modern fusion-image-hovers fusion-show-pagination-text">
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93459439-1', 'auto');
    ga('send', 'pageview');
</script>

<div id="wrapper" class="">
    <div id="home" style="position:relative;top:1px;"></div>
    <header class="fusion-header-wrapper">
        <div
            class="fusion-header-v1 fusion-logo-left fusion-sticky-menu-1 fusion-sticky-logo-1 fusion-mobile-logo-1 fusion-mobile-menu-design-modern ">
            <div class="fusion-header-sticky-height"></div>
            <div class="fusion-header">
                <div class="fusion-row">

                    <div class="fusion-logo" data-margin-top="15px" data-margin-bottom="15px" data-margin-left="0px"
                         data-margin-right="0px">
                        <a class="fusion-logo-link" href="/">
                            <img src="/assets/images/ViewGenFinalLogo-01.png"
                                 width="182" height="51" alt="ViewGen" class="fusion-logo-1x fusion-standard-logo"/>
                            <img src="/assets/images/ViewGenFinalLogo-01.png"
                                 width="182" height="51" alt="ViewGen" style="max-height: 51px; height: auto;"
                                 class="fusion-standard-logo fusion-logo-2x"/>
                            <!-- mobile logo -->
                            <img src="/assets/images/ViewGenFinalLogo-01.png"
                                 width="182" height="51" alt="ViewGen" class="fusion-logo-1x fusion-mobile-logo-1x"/>
                            <img src="/assets/images/ViewGenFinalLogo-01.png"
                                 width="91" height="25" alt="ViewGen" style="max-height: 25px; height: auto;"
                                 class="fusion-logo-2x fusion-mobile-logo-2x"/>
                            <!-- sticky header logo -->
                            <img src="/assets/images/ViewGenFinalLogo-01.png"
                                 width="182" height="51" alt="ViewGen" class="fusion-logo-1x fusion-sticky-logo-1x"/>
                            <img src="/assets/images/ViewGenFinalLogo-01.png"
                                 width="182" height="51" alt="ViewGen" class="fusion-logo-2x fusion-sticky-logo-2x"/>
                        </a>
                    </div>
                    <nav class="fusion-main-menu">
                        <ul id="menu-main-menu" class="fusion-menu">
                            <li id="menu-item-13676"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13676">
                                <a href="/ui/login/"><span class="menu-text">LOGIN</span></a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="fusion-main-menu fusion-sticky-menu">
                        <ul id="menu-main-menu-1" class="fusion-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13676">
                                <a href="/ui/login/"><span class="menu-text">LOGIN</span></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="fusion-mobile-menu-icons">
                        <a href="#" class="fusion-icon fusion-icon-bars"></a>
                    </div>
                    <nav class="fusion-mobile-nav-holder"></nav>
                    <nav class="fusion-mobile-nav-holder fusion-mobile-sticky-nav-holder"></nav>
                </div>
            </div>
        </div>
        <div class="fusion-clearfix"></div>
    </header>
    
    <div id="main" class="clearfix " style="padding-top: 15px">
        <div class="fusion-row" style="">
            <div class="signup-background">
                <div id="content" class="full-width">
                    <div class="page type-page status-publish hentry">
                        <div class="post-content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
    
    
        </div>  <!-- fusion-row -->
    </div>  <!-- #main -->
</div>

<div class="fusion-footer">
    <footer id="footer" class="fusion-footer-copyright-area">
        <div class="fusion-row">
            <div class="fusion-copyright-content">


            </div> <!-- fusion-fusion-copyright-content -->
        </div> <!-- fusion-row -->
    </footer> <!-- #footer -->
</div> <!-- fusion-footer -->


<a class="fusion-one-page-text-link fusion-page-load-link"></a>


{% include('base_scripts.twig') %}

{% block scripts %}{% endblock %}


</body>
</html>
