{% extends "base_new.twig" %}

{% block content %}
    <div class="color-overlay">
        <div class="container">
            <div class="header-block">
                <img src="/assets/images/viewgenfinallogo.png" alt="">
                <h1 style="font-size: 28px; font-weight: bold; color: #fff; line-height: 58px; text-align: center;">Ready for immediate, sustained inbound from LinkedIn?</h1>
                <p class="lp-pom-text">ViewGen automates well-targeted profile viewing. Here’s what to expect:</p>
                <ul class="__web-inspector-hide-shortcut__">
                    <li style="line-height: 29px;">
                        <span style="font-size: 16px;"><span style="color: rgb(255, 255, 255);"><span style="font-family: Montserrat; font-weight: 400; font-style: normal;">200-400 prospects/week will visit your LinkedIn profile <br></span></span></span>
                    </li>
                    <li style="line-height: 29px;">
                        <span style="font-size: 16px;"><span style="color: rgb(255, 255, 255);"><span style="font-family: Montserrat; font-weight: 400; font-style: normal;">20-40/week will send you a Connection Request</span></span></span>
                    </li>
                    <li style="line-height: 29px;">
                        <span style="color: rgb(255, 255, 255); font-size: 16px;"><span style="font-family: Montserrat; font-weight: 400; font-style: normal;">Direct Emails, phone calls and meeting requests</span></span>
                    </li>
                </ul>
                <p>
                    <span style="color: rgb(255, 255, 255); font-size: 15px;"><span style="font-family: Montserrat; font-weight: 700; font-style: normal;">IMPORTANT: &nbsp;LinkedIn Sales Navigator or Premium required.</span></span>
                </p>
            </div>
            <div class="header-block">
                <div class="form-wr">
                    <form action="" method="post">
                        <input type="hidden" name="action" value="sign_up">
                        <div class="form-group">
                            <label for="">
                                <input type="text" name="first_name" value="{{ data.first_name }}" placeholder="First name *">
                            </label>
                            <span class="error_box inactive" id="error_box__first_name" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="text" name="last_name" value="{{ data.last_name }}" placeholder="Last name *">
                            </label>
                            <span class="error_box inactive" id="error_box__last_name" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="email" name="email" value="{{ data.email }}" placeholder="Company Email *">
                            </label>
                            <span class="error_box inactive" id="error_box__email" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="text" name="company" value="{{ data.company }}" placeholder="Company *">
                            </label>
                            <span class="error_box inactive" id="error_box__company" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="tel" name="phone" value="{{ data.phone }}" placeholder="Phone *">
                            </label>
                            <span class="error_box inactive" id="error_box__phone" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="text" name="company_name" value="{{ data.company_name }}" placeholder="Account name *">
                            </label>
                            <span class="error_box inactive" id="error_box__company_name" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="password" name="password1" value="" placeholder="Password *">
                            </label>
                            <span class="error_box inactive" id="error_box__password1" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="password" name="password2" value="" placeholder="Repeat Password *">
                            </label>
                            <span class="error_box inactive" id="error_box__password2" ></span>
                        </div>
                        <div class="form-group">
                            <label for="">
                                <input type="text" name="coupon" value="{{ data.coupon }}" placeholder="Coupon Code">
                            </label>
                            <span class="error_box inactive" id="error_box__coupon" ></span>
                        </div>
                        <p style="margin: 0;">
                            <span style="color: rgb(49, 47, 47); font-size: 15px;">*Required Fields</span>
                        </p>
                        <button type="submit" class="trial-btn">Start Free Trial</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="who-is-ViewGen" style="background-color: #e5e5e5; padding: 30px 20px; font-size: 24px; text-align: center;">
        Who is ViewGen For?
    </div>
    <div class="block-content">
        <div class="block-item">
            <span class="icon"></span>
            <h3 class="block-item-title">Sales Teams</h3>
            <p>Empower your sales teams by generating qualified leads by the hundreds. ViewGen keeps your sales team busy with qualified prospects.</p>
        </div>
        <div class="block-item">
            <span class="icon"></span>
            <h3 class="block-item-title">Human Resources</h3>
            <p>Looking for qualified talent? HR departments and recruiting firms use ViewGen to search for unique individuals specific skill-sets. Have the candidates come to you.</p>
        </div>
        <div class="block-item">
            <span class="icon"></span>
            <h3 class="block-item-title">Marketers</h3>
            <p>Your team counts on you each month to generate qualified leads. Be the company hero by producing leads that will generate profits.</p>
        </div>
    </div>
    
{% endblock %}