
.o-row {
	width: 100%;
	box-sizing: border-box;
}

.o-row:after {
	content: ' ';
	clear: both;
	display: table;
	box-sizing: border-box;
}

.col-md-6 {
	width: 50%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}

.col-md-12 {
	width: 100%;
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}

.width-control {
	box-sizing: border-box;
}

.width-control input {
	box-sizing: border-box;
	width: 100%;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal-inner {
	background: #fff;
	border-radius: 5px;
	width: 700px;
	padding: 15px;
	top: 100px;
	left: 50%;
	position: absolute;
	margin-left: -350px;
}

#helpUsGrow .modal-inner {
	background: #fff;
	border-radius: 5px;
	width: 820px;
	padding: 25px 10px;
	top: 100px;
	left: 50%;
	position: absolute;
	margin-left: -410px;
}

.modal-inner h1 {
	margin: 0;
}

.modal-inner a.tiny {
	font-size: 9px;
}

a {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.o-input-group {
	margin: 5px 0;
}

.o-input-group label {
	margin-top: 10px;
}

.o-input-group:after {
	content: ' ';
	clear: both;
	display: table;
	box-sizing: border-box;
}

.o-input-group input {
	width: 75%;
	float: left;
}

.o-input-group button {
	width: 25%;
	float: left;
	height: 50px;
	background: #fff;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	border-left: none;
	font-size: 20px;
}

table.bordered-table {
	margin: 20px 0;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
}

table.bordered-table th {
	padding: 10px;
	text-align: left;
}

table.bordered-table td {
	padding: 10px;
}

table.bordered-table tr,
table.bordered-table td {
	border: 1px solid #ccc;
}

.form-group {
	margin-top: 15px;
}

.form-group label {
	display: block;
	font-weight: bold;
	float: none;
}


