
/* Reset some bootstrap components. */
fieldset {
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
}

legend {
	width: auto;
	margin-bottom: 0;
	border-bottom: none;
}

body,html {
margin: 0;
padding: 0;
font-family: 'Lato', 'Arial', sans-serif;
background: #f5f5f5;
color: #252525;
font-weight: 300;
font-size: 16px;
}
.first-name-column {
	max-width: 90px;
	min-width: 90px;
}
.last-name-column  {
	max-width: 90px;
	min-width: 90px;
}
.title-column  {
	max-width: 140px;
	min-width: 140px;
}
.companyBasedOnTitle-column  {
	max-width: 100px;
	min-width: 100px;
}
.current-company-column  {
	max-width: 120px;
	min-width: 120px;
}
.industry-column  {
	max-width: 100px;
	min-width: 100px;
}
.employer-column  {
	max-width: 100px;
	min-width: 100px;
}
.location-column  {
	max-width: 120px;
	min-width: 120px;
}
.campaign-column  {
	max-width: 140px;
	min-width: 140px;
}
.timestamp-column  {
	max-width: 80px;
	min-width: 80px;
}
.premium-column  {
	max-width: 40px;
	min-width: 40px;
}
.inbound-visit-date  {
	max-width: 40px;
	min-width: 40px;
}
.profile-column  {
	max-width: 30px;
	min-width: 30px;
}
b {
font-weight: bold;
}

a {
color: #252525;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a.button:hover {
text-decoration: none;
}

input[type="submit"].removed {
opacity: 0;
text-indent: -1000000px;
outline: none;
width: 0;
height: 0;
position: absolute;
top: -100000px;
}

ul {
list-style: none;
margin: 0;
padding: 0;
}

.clear {
clear: both;
}

#header {
height: 80px;
width: 100%;
background: #e2e2e2 url('../images/header_bg.png') repeat-x center bottom;
}

#header.non_auth {
height: 104px;
background: #FFF;
box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
position: fixed;
z-index: 1000;
}

#header .inner {
height: 80px;
background: #e2e2e2 url('../images/header_bg.png') repeat-x center bottom;
position: relative;
}

#header.non_auth .inner {
background: transparent;
}

#header.non_auth a.button.gray {
margin-right: 15px;
}

.outer-page.non-auth {
width: 100%;
padding-top: 100px;
}

#logo {
width: 50px;
height: 50px;
float: left;
background: transparent url('../images/vg.png') no-repeat 0 0;
margin: 15px;
}

.non_auth #logo {
width: 243px;
height: 51px;
background: transparent url('../images/logo_index.png') no-repeat 0 0;
margin: 25px;
}

#nav {
float: left;
list-style: none;
height: 30px;
margin: 25px 0;
}

#nav.secondary {
    margin: 0 0 0 80px;
}

#nav.secondary li {
    position: relative;
}

#nav i.active-arrow {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 11px solid #939598;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    top: 43px;
    left: 50%;
    margin-left: -11px;
    opacity: 0.4;
}

#nav i.active-arrow-outer {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 9px solid #f5f5f5;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 46px;
    left: 50%;
    margin-left: -9px;
}

.subnav {
    height: 30px;
}

.non_auth #nav {
float: right;
margin: 40px 0;
}

#nav li {
float: left;
margin: 0 20px 0 0;
line-height: 20px;
position: relative;
}

#nav li a {
font-size: 16px;
color: #6e6e6e;
font-weight: bold;
}

#nav li a:hover {
color: #000;
}

#nav li a.active {
color: #000;
}

#header div.username {
font-weight: 300;
font-size: 24px;
color: #252525;
float: right;
height: 40px;
margin: 20px 0;
line-height: 40px;
position: relative;
cursor: pointer;
}
#header div.add-user-link {
font-weight: 300;
font-size: 14px;
font-weight: bold;
color: #252525;
float: right;
height: 40px;
margin: 20px 0;
line-height: 40px;
position: relative;
cursor: pointer;
}

.help-header {
	width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 3px solid #939598;
    color: #bcbdc0;
    background: #fff;
    float: right;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    margin-top: 23px;
    margin-left: 70px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.help-header-box {
	position: absolute;
    right: 3px;
    top: 72px;
    background: #fff;
    border: 2px solid #939598;
    width: 270px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    display: none;
	z-index: 100;
}

.help-header-box i.inner-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -8px;
    right: 20px;
    z-index: 110;
}

.help-header-box i.outer-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #939598;
    top: -11px;
    right: 17px;
    z-index: 100;
}

.small-down-arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #58585a;
    float: right;
    margin: 18px 0 0 5px;
}
.vertical-thin-line{
    width: 0;
    height: 0;
    border-left: 1px solid #000000;
    border-right: 0px solid #000000;
    border-top: 0px solid #000000;
    border-bottom: 42px solid #000000;
    float: right;
    margin: 0px 10px 0px 10px;
}

#logout {
height: 40px;
float: left;
margin: 20px 20px 20px 6px;
text-align: right;
line-height: 40px;
font-size: 24px;
padding-left: 0;
font-weight: 300;
}

#page {
width: 880px;
float:left;
margin: 0 0 100px 0;
}

.outer-page {
width: 100%;
}

.button {
position: relative;
display: inline-block;
font-weight: 300;
}

.button.green {
background: #8dc63f;
color: #fff;
}

.button.blue {
background: #00aeef;
color: #fff;

}

.button.orange {

color: #000000;
font-weight: bold;
}

.button.gray {
background: #e2e2e2;
color: #000;
}

.button.red {
background: #f26c4f;
color: #FFF;
}

.button.large {
height: 75px;
border-radius: 10px;
line-height: 75px;
font-size: 24px;
padding: 0 30px;
}

.button.large.plus {
padding-left: 70px;
}

.button.large.plus i {
width: 35px;
height: 35px;
position: absolute;
top: 20px;
left: 20px;
background: transparent url('../images/button_large_plus.png') no-repeat 0 0;
}

.button.large.next {
padding-right: 70px;
}

.button.large.next i {
width: 35px;
height: 35px;
position: absolute;
top: 20px;
right: 20px;
background: transparent url('../images/button_large_next.png') no-repeat 0 0;
}

.button.medium {
height: 60px;
border-radius: 10px;
line-height: 60px;
font-size: 20px;
padding: 0 25px;
}

.button.medium.cloud {
padding-left: 54px;
width: 210px;
line-height: 43px;
text-align: left;
font-size: 28px;
}

.button.medium.cloud span {
font-size: 11px;
position: absolute;
display: block;
line-height: 10px;
bottom: 8px;
left: 56px;
}

.button.medium.cloud i {
width: 31px;
height: 29px;
position: absolute;
top: 16px;
left: 15px;
background: transparent url('../images/icon_cloud.png') no-repeat 0 0;
}

.button.medium.refresh {
padding: 0 40px 0 40px;
width: 120px;
}

.button.medium.refresh i {
width: 21px;
height: 21px;
position: absolute;
top: 20px;
left: 15px;
background: transparent url('../images/icon_refresh.png') no-repeat 0 0;
}

.button.medium_small {
height: 50px;
border-radius: 8px;
line-height: 50px;
font-size: 20px;
padding: 0 70px;
}

.button.small {
height: 30px;
border-radius: 5px;
line-height: 30px;
font-size: 14px;
padding: 0 10px;
}

.button.small.plus,
.button.small.edit,
.button.small.delete {
padding-left: 30px;
}

.button.small.round {
height: 20px;
line-height: 20px;
font-size: 12px;
border-radius: 10px;
padding-left: 25px;
border: 1px solid #ccc;
margin: 3px 0 0 5px;
}

.button.small.round i {
top: -5px;
}

.button.small i {
width: 30px;
height: 30px;
position: absolute;
top: 0;
left: 0;
}

.button.small.plus i {
background: transparent url('../images/button_small_plus.png') no-repeat 0 0;
}

.button.small.edit i {
background: transparent url('../images/button_small_edit.png') no-repeat 0 0;
}

.button.small.delete i {
background: transparent url('../images/button_small_delete.png') no-repeat 0 0;
}

#add_campaign {
margin: 50px 0;
}

#campaign_list {
width: 100%;
margin: 0;
}

.campaign {
width: 100%;
float: left;
border: 1px solid #ccc;
border-radius: 5px;
background: #fff;
margin: 0 0 18px 0;
}

.campaign_top {
height: 80px;
border-bottom: 1px solid #959595;
}

.campaign_top h1 {
font-size: 30px;
font-weight: 300;
line-height: 80px;
margin: 0 0 0 20px;
float: left;
}

.campaign_top .button {
float: right;
margin: 25px 10px 0 0;
}

.campaign_top .button.delete {
margin-right: 20px;
}

.priority {
width: 60px;
height: 25px;
float: left;
margin: 30px 0 0 10px;
position: relative;
}

.priority a {
width: 20px;
height: 25px;
display: block;
float: left;
}

.priority a.green div {
	width: 20px;
	background: transparent url('../images/priority_active.png') repeat-x 0 0;
}

.priority a.gray div {
background: transparent url('../images/priority_bg.png') repeat-x 0 0;
}

.priority a.p1 div { height: 15px; margin-top: 10px; }
.priority a.p2 div { height: 20px; margin-top: 5px; }
.priority a.p3 div { height: 25px; }

.priority a:nth-child(3) {
left: 20px;
}

.priority a:nth-child(4) {
left: 40px;
}

.campaign_body {
width: 100%;
min-height: 124px;
position: relative;
}

.campaign_footer {
width: 100%;
height: 34px;
border-top: 1px solid #e2e2e2;
}

.status_box {
height: 100%;
min-height: 124px;
width: 136px;
border-right: 1px solid #e2e2e2;
position: absolute;
}

.visits_box {
height: 100%;
min-height: 124px;
width: 258px;
border-right: 1px solid #e2e2e2;
position: absolute;
left: 137px;
}

.info_box {
width: 532px;
float: right;
}

.campaign h2 {
font-size: 24px;
font-weight: 300;
margin: 18px 0 0 20px;
}

.num_visits {
font-size: 24px;
font-weight: 300;
margin: 10px 0 0 20px;
}

.footer_box {
font-weight: 300;
height: 34px;
line-height: 34px;
font-size: 15px;
margin: 0 20px;
float: left;
}

.query_based {
font-size: 24px;
font-weight: bold;
margin: 30px 30px 0 30px;
}

a.all_queries {
text-decoration: underline;
font-size: 16px;
font-weight: 300;
margin: 1px 0 0 30px;
display: block;
}

.info_box ul {
list-style: none;
margin: 18px 25px;
padding: 0;
}

.info_box ul li {
font-size: 24px;
font-weight: 300;
}

.info_box ul li b {
font-size: 18px;
}

.status_switch {
width: 100px;
height: 40px;
background: transparent url('../images/status_bg.png') no-repeat 0 0;
margin: 5px 0 0 15px;
}

.status_switch.small {
zoom: 0.6;
float: left;
margin-left: 0;
}

.status_bg {
width: 78px;
height: 28px;
margin: 6px 0 0 11px;
background: transparent url('../images/status_slide_bg_running.png') no-repeat 0 0;
display: inline-block;
position: relative;
}

.paused .status_bg {
background: transparent url('../images/status_slide_bg_off.png') no-repeat 0 0;
}

.waiting .status_bg {
background: transparent url('../images/status_slide_bg_waiting.png') no-repeat 0 0;
}

.scheduled .status_bg,
.waiting .status_bg {
background: transparent url('../images/status_bg_yellow.png') no-repeat 0 0;
}

.status_knob {
width: 35px;
height: 35px;
background: transparent url('../images/status_handle.png') no-repeat 0 0;
position: absolute;
top: -3px;
left: -3px;

-webkit-transition: -webkit-transform 0.4s;
-moz-transition: -moz-transform 0.4s, background 0.4s;
transition: transform 0.4s;

-webkit-transform: translate(0, 0);
-moz-transform: translate(0, 0);
transform: translate(0, 0);
}

.paused .status_knob {
background: transparent url('../images/status_handle_off.png') no-repeat 0 0;
}

.active .status_knob,
.waiting .status_knob {
-webkit-transform: translate(49px, 0);
-moz-transform: translate(49px, 0);
transform: translate(49px, 0);
}

.scheduled .status_knob,
.waiting .status_knob {
background: transparent url('../images/status_handle_yellow.png') no-repeat 0 0;
}

.status_text {
font-size: 16px;
margin: 0 0 0 20px;
}
h1 {
font-weight: 900;
text-align: center;
margin: 40px 0 0 0;
}

.subheading {
font-size: 24px;
font-weight: 300;
text-align: center;
}

.campaign_editor {
width: 1200px;
border: 1px solid #ccc;
background: #fff;
margin: 20px 0 18px 0;
min-height: 200px;
font-weight: 300;
}

.campaign_editor.builder,
.campaign_editor.edit {
width: 958px;
margin: 20px 0 0 0;
position: relative;
}

h3 {
font-size: 24px;
font-weight: 300;
margin: 0 0 10px 0;
}

h4 {
font-size: 18px;
font-weight: 300;
margin: 20px 0 0 20px;
display: inline-block;
}

h6 {
font-size: 12px;
font-weight: 300;
margin: 5px 0 0 20px;
}

h3 i,
h2 i {
color: #ff0000;
font-style: normal;
}

.editor_top h4 {
float: left;
}

input {
font-weight: 300;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
height: 50px;
padding: 0 15px;
width: 250px;
border: 1px solid #959595;
font-size: 18px;
font-family: inherit;
}

input[type="radio"],
input[type="checkbox"] {
float: left;
clear: left;
width: 16px;
height: 16px;
}

label {
font-size: 14px;
font-weight: 300;
display: block;
/*float: left;*/
}

label.radio {
font-size: 18px;
}

label.select {
width: 136px;
margin: 0 8px 0 0;
float: left;
}

div.end-date {
	float: left;
}

div.end-date input {
	margin-right: 5px;
}

label.select.right {
margin: 0 0 0 0;
}

select {
width: 136px;
float: left;
margin: 2px 8px 5px 0;
font-size: 16px;
}

select[name="revisit_after"] {
	clear: both;
}

input.date {
width: 135px;
padding: 0 5px;
height: 25px;
float: left;
margin: 2px 8px 5px 0;
font-size: 16px;
}

select.right {
margin: 2px 0 5px 0;
}

input.date.right {
margin: 2px 0 5px 0;
}

.editor_box {
float: left;
margin: 50px 0 0 20px;
width: 282px;
position: relative;
}

.editor_box.collapsee {
min-height: 0;
}

.editor_box.box_prio {
margin: 67px 0 0 20px;
}

.box_prio select {
width: 212px;
}

.box_prio .priority {
margin: 0 0 0 2px;
}

.editor_box.bottom {
margin: 0 0 0 20px;
}

.editor_section {
width: 604px;
float: left;
border-top: 1px solid #cccccc;
}

select.wide {
width: 100%;
margin-right: 0;
}

.add_location {
font-size: 18px;
padding-left: 4px;
font-weight: 300;
display: block;
clear: both;
float: left;
margin: 4px 0 0 0;
cursor: pointer;
}

.add_location i {
display: inline-block;
width: 14px;
height: 13px;
background: transparent url('../images/add_location.png') no-repeat 0 0;
margin-right: 4px;
}

.campaign_editor .submit_box {
width: 100%;
clear: both;
text-align: center;
margin: 0 0 184px 0;
}

.campaign_editor .next {
min-width: 160px;
text-align: left;
}

.suggestions {
position: absolute;
top: 100%;
margin-top: -22px;
display: none;
}

.suggestions i {
position: absolute;
top: 17px;
right: 16px;
width: 21px;
height: 16px;
background: transparent url('../images/enter_icon.png') no-repeat 0 0;
}

.suggestions .box {
width: 280px;
border-left: 1px solid #959595;
border-right: 1px solid #959595;
border-bottom: 1px solid #959595;
min-height: 0px;
position: absolute;
top: 49px;
background: #FFF;
z-index: 1000;
}


.suggestions .box li {
font-size: 16px;
font-weight: 300;
padding: 0 20px;
height: 40px;
line-height: 40px;
border-bottom: 1px solid #959595;
cursor: pointer;
}

.suggestions .box li:first-child {
border-top: 1px solid #959595;
}

.suggestions .box li.active {
background: #ececec;
}

.suggestions .box li:last-child {
border-bottom: none;
}

.editor_top {
width: 100%;
height: 100px;
border-bottom: 1px solid #ccc;
}

.name_tag {
font-size: 18px;
margin: 20px 0 0 20px;
float: left;
}

.name {
font-size: 24px;
margin: 10px 0 0 20px;
float: left;
clear: both;
}

i.edit {
width: 17px;
height: 17px;
background: transparent url('../images/icon_edit.png') no-repeat 0 0;
display: block;
float: left;
margin: 15px 0 0 10px;
cursor: pointer;
}

textarea {
border: 1px solid #959595;
resize: none;
}

.query textarea {
width: 882px;
height: 440px;
margin: 10px 20px;
}

textarea.tight-query {
width: 880px;
height: 100px;
}

.query.edit textarea {
width: 912px;
}

.query .submit_box {
margin: 40px 0 60px 0;
}

.builder_col {
width: 220px;
float: left;
margin: 0 0 0 20px;
}

.builder_col label {
max-width: 195px;
}

.builder_col.small {
width: 202px;
}

.builder_col h4 {
margin: 20px 0 10px 0;
float: left;
clear: both;
position: relative;
}

.builder_col.small h4 {
margin: 20px 0 0 0;
}

.builder_col h6 {
margin: 0 0 5px 0;
float: left;
clear: both;
}

.builder_col textarea {
width: 196px;
height: 60px;
}

.builder_col.small select {
width: 100%;
}

span.tip {
font-size: 12px;
}

.builder .submit_box {
margin: 20px 0 60px 0;
float: left;
}

.more {
font-size: 14px;
padding-left: 20px;
float: left;
clear: both;
}

.more a {
text-decoration: underline;
margin-left: 5px;
}

.more_icon {
width: 20px;
height: 20px;
background: transparent url('../images/icon_more.png') no-repeat 0 0;
display: block;
position: absolute;
top: 3px;
right: -30px;
cursor: pointer;
}

.more_icon.shown {
background: transparent url('../images/icon_less.png') no-repeat 0 0;
}

.left {
float: left;
}

.editor_top .left {
margin-right: 20px;
}

.is_hidden {
display: none;
}

.editor_separator {
clear: both;
width: 100%;
border-bottom: 1px solid #ccc;
}

.segment {
width: 100%;
}

.segment_inner {
width: 100%;
margin: 0 auto;
text-align: center;
}

.segment.splash {
height: 446px;
background: transparent url('../images/background-x.jpg') repeat-x 0 0;
}

.splash_content {
width: 943px;
height: 100%;
margin: 0 auto;
position: relative;
}

.segment h1 {
font-weight: 300;
font-size: 36px;
color: #FFF;
margin: 40px 0 10px 0;
display: inline-block;
}

.splash_content .button {
float: left;
margin: 0 10px;
width: 180px;
text-align: center;
}

.video {
width: 508px;
height: 230px;
background: transparent url('../images/video.png') no-repeat 0 0;
position: absolute;
bottom: 0;
left: -4px;
}

.segment.info {
box-shadow: 0 0 8px -10px rgba(0, 0, 0, 0.75);
position: relative;
}

.segment h2 {
font-weight: 300;
font-size: 30px;
display: inline-block;
}

.segment.info h2 {
margin: 30px 0 0 0;
}

.segment.testimonials h2 {
margin: 30px 0 0 0;
}

p {
font-size: 18px;
font-weight: 300;
}

.segment.info p {
width: 800px;
margin: 0 auto;
}

.segment.info .button {
width: 300px;
margin: 20px 0 30px;
}

.segment.testimonials {
background: #ececec;
height: 269px;
border-top: 1px solid #c2c2c2;
border-bottom: 1px solid #c2c2c2;
}

.segment.clients {
height: 40px;
background: #FFF;
box-shadow: 0 10px 8px -10px rgba(0, 0, 0, 0.75);
position: relative;
}

.segment.bottom {
height: 310px;
background: transparent url('../images/background-x.jpg') repeat-x 0 0;
position: relative;
}

.owl-pagination {
display: none;
}

#testimonials {
width: 800px;
margin: 0 auto;
height: 200px;
}

#testimonials .owl-next {
width: 31px;
height: 55px;
background: transparent url('../images/owl_next.png') no-repeat 0 0;
border-radius: 0;
position: absolute;
top: 30px;
right: -80px;
}

#testimonials .owl-prev {
width: 31px;
height: 55px;
background: transparent url('../images/owl_prev.png') no-repeat 0 0;
border-radius: 0;
position: absolute;
top: 30px;
left: -80px;
}

#testimonials .item {
width: 700px;
height: 200px;
text-align: center;
margin: 0 auto;
}

#testimonial .item img {
width: 50px;
height: 50px;
border: 3px solid #FFF;
border-radius: 100%;
}

#testimonials .item i {
font-weight: bold;
font-size: 16px;
display: block;
margin: 5px 0 0 0;
}

.clients img {
margin: 20px 0 0 0;
}

.bottom_box {
width: 100%;
border-bottom: 1px solid #FFF;
height: 110px;
}

.bottom_box .left {
width: 700px;
text-align: center;
}

.bottom_box h2 {
color: #FFF;
font-weight: 300;
font-size: 24px;
}

.bottom_box b {
display: block;
color: #FFF;
}

.bottom_box .button {
margin: 30px 0 0 0;
}

input#end_date_never {
clear: none;
float: right;
width: 14px;
height: 14px;
}

label.end_date_never {
float: right;
line-height: 19px;
margin: 0;
}

.show_industries {
cursor: pointer;
}

.segment.sign_up_title {
height: 100px;
background: transparent url('../images/background-x.jpg') repeat-x 0 0;
}

.segment.sign_up_title h1 {
margin: 27px 0;
}

.segment.sign_up_step_one {
box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
position: relative;
background: #FFF;
}

.form_section {
width: 282px;
margin: 0 auto;
text-align: left;
}

.form_section.wide {
width: 482px;
text-align: center;
}

.form_section h2 {
width: 100%;
margin: 5px 0;
font-size: 18px;
font-weight: 300;
}

.form_delim {
width: 480px;
border-bottom: 1px solid #ccc;
margin: 40px auto 35px auto;
}

.form_section select {
margin: 0 0 0 0;
width: 430px;
}

.form_subscription {
float: left;
width: 200px;
margin: 28px 0 0 14px;
}

.form_section .button {
width: 210px;
margin: 20px 0;
}

span.disclaimer {
font-size: 14px;
font-weight: 300;
margin: 0 0 10px 0;
display: block;
text-align: center;
width: 100%;
float: left;
}

span.disclaimer a {
text-decoration: underline;
}

#subscription_form {
text-align: left;
margin: 0 auto;
width: 500px;
}

.sign_up_top {
width: 100%;
height: 100px;
border-bottom: 1px solid #ccc;
margin: 0 0 40px 0;
background: #ececec;
}

.sign_up_steps {
width: 570px;
height: 100%;
margin: 0 auto;
}

.sign_up_steps div {
width: 190px;
height: 100%;
float: left;
position: relative;
color: #898989;
}

.sign_up_steps div.active {
color: #252525;
}

.sign_up_steps div h2 {
font-size: 18px;
font-weight: bold;
width: 100%;
text-align: center;
margin: 30px 0 0 0;
}

.sign_up_steps div span {
font-size: 18px;
font-weight: 300;
width: 100%;
display: block;
text-align: center;
}

.sign_up_steps div i {
width: 79px;
height: 22px;
background: transparent url('../images/sign_up_arrow.png') no-repeat 0 0;
position: absolute;
bottom: -21px;
left: 55px;
display: none;
}

.sign_up_steps div.active i {
display: block;
}

.form_section.login {
height: 600px;
padding-top: 40px;
}

h1.login_error {
color: #252525;
}

.form_section.login .button {
text-align: center;
width: 210px;
margin: 40px auto 20px auto;
display: block;
}


.form_section.login span {
display: block;
width: 100%;
text-align: center;
font-size: 18px;
font-weight: 300;
}


.form_section.login span a {
text-decoration: underline;
}

.payment_success,
.segment_inner.logged_out {
height: 640px;
}

.payment_success h1,
.segment_inner.logged_out h1 {
margin: 45px 0;
color: #252525;
font-size: 30px;
}

.segment_inner.logged_out a {
display: block;
font-size: 18px;
font-weight: 300;
text-decoration: underline;
}

.form_section.payment_success a {
display: block;
margin: 0 auto;
}

.install h1 {
color: #252525;
font-size: 30px;
margin: 10px 0;
}

.install_instructions {
width: 620px;
float: left;
}

.install_instructions ol {
text-align: left;
padding-left: 80px;
font-size: 18px;
font-weight: 300;
float: left;
}

.install_instructions ol li {
margin: 10px 0;
}

.install_links {
width: 260px;
float: left;
margin: 25px 0 0 0;
}

.all_versions {
float: left;
margin: 40px 0 0 0;
font-size: 14px;
display: block;
width: 100%;
border-bottom: 1px solid #ccc;
text-align: left;
}

.version {
width: 100%;
height: 69px;
float: left;
border-bottom: 1px solid #ccc;
text-align: left;
}

.version h2 {
font-size: 20px;
font-weight: 300;
width: 100%;
margin: 12px 0 0 0;
}

.version span {
font-size: 13px;
display: block;
width: 100%;
margin: 0 0 0 0;
}

.segment_inner.install {
height: 900px;
width: 880px;
}

.install_finish {
float: left;
width: 100%;
}

.install_finish a.button {
text-align: center;
width: 260px;
margin: 0 auto;
display: block;
float: none;
}

.query_campaign_editor {
width: 958px;
border: 1px solid #ccc;
border-radius: 10px;
min-height: 200px;
background: #FFF;
margin: 40px auto;
}

.query_campaign_editor .editor_top {
width: 100%;
height: 159px;
border-bottom: 1px solid #ccc;
}

.editor_top .editor_box h3 {
font-size: 18px;
}

.editor_top .editor_box {
float: left;
margin: 20px 20px 0 0;
}

table.query  {
text-align: left;
border: 1px solid #ccc;
border-collapse: collapse;
width: 920px;
margin: 19px 0 0 0;
font-size: 14px;
font-weight: 300;
}

table.query td, table.query th {
height: 40px;
border-right: 1px solid #ccc;
padding: 0 5px;
}

table.query td:last-child, table.query th:last-child {
border-right: none;
}

table.query tr {
height: 40px;
border-bottom: 1px solid #ccc;
}

table.query tr:last-child {
border-bottom: none;
}

table.query th {
background: #e1e1e1;
font-size: 14px;
font-weight: 300;
}

table.query tr:nth-child(odd) {
background: #f5f5f5;
}

table.query th.manage {
text-align: center;
}

textarea.query {
border: 1px solid #959595;
resize: none;
width: 916px;
margin: 19px;
height: 100px;
}

#add_query_urls {
margin: 0 0 0 19px;
padding: 0 30px;
}

.query_campaign_editor .submit_box {
margin: 40px 0;
text-align: center;
}

.query_campaign_editor .submit_box .button {
width: 160px;
text-align: left;
}

table.query td.manage {
width: 93px;
}

table.query th a {
text-decoration: underline;
margin: 0 0 0 0;
}

.client_software_status {
width: 545px;
min-height: 130px;
float: right;
margin: 50px 15px 20px 0;
}

.client_software_status h2 {
font-size: 18px;
font-weight: 300;
margin: 0 30px 5px 0;
position: relative;
float: left;
}

.client_software_box {
float: left;
border: 1px solid #ccc;
background: #fff;
border-radius: 10px;
padding: 7px 0;
}

.client_software_box .row {
height: 20px;
width: 538px;
margin: 0 10px;
font-size: 14px;
line-height: 20px;
}

.client_software_box .row b {
font-size: 12px;
font-weight: 300;
}

.client_software_box .row span {
float: right;
font-size: 12px;
}

i.software_status {
float: left;
display: block;
width: 14px;
height: 20px;
margin-right: 5px;
}

i.software_status.running {
background: transparent url('../images/software_running.png') no-repeat center center;
}

i.software_status.waiting {
background: transparent url('../images/software_waiting.png') no-repeat center center;
}

i.software_status.offline {
background: transparent url('../images/software_offline.png') no-repeat center center;
}

.client_software_status h2 i {
display: block;
width: 17px;
height: 16px;
background: transparent url('../images/software_icon.png') no-repeat 0 0;
position: absolute;
right: -23px;
top: 4px;
}

.download_software_link {
display: inline-block;
}

.download_software_link i {
width: 18px;
height: 17px;
display: block;
background: transparent url('../images/icon_cloud_dark.png') no-repeat 0 0;
margin: 0px 0 0 3px;
padding: 0px 0 0 0;
top: 3px;
position: relative;
}

.recurly .due_now {
background: #00aeef;
}

.segment_inner.payment_form {
min-height: 1037px;
}

.recurly select {
font-size: 14px;
}

input.campaign_name {
clear: left;
margin: 5px 0 0 20px;
width: 850px;
}

a.help {
font-size: 14px;
padding-left: 20px;
line-height: 16px;
position: relative;
cursor: default;
}

a.help:hover {
text-decoration: none;
}

a.help i {
width: 22px;
height: 22px;
display: block;
position: absolute;
left: -2px;
top: -3px;
}

.install_links a.help {
margin: 10px 0 0 10px;
float: left;
}

i.help {
width: 16px;
height: 16px;
display: inline-block;
margin: 0 0 0 3px;
background: transparent url('../images/question_mark_22_red.png') no-repeat 0 0;
position: relative;
}

i.help div {
background: transparent url('../images/help_bg.png') no-repeat 0 0;
display: none;
position: absolute;
color: #FFF;
width: 350px;
padding: 30px;
border-radius: 5px;
z-index: 1000;
font-size: 16px;
font-weight: 300;
font-style: normal;
line-height: 150%;
top: 16px;
left: 50%;
margin-left: -175px;
text-align: left;
}

a.help:hover i.help div {
display: block;
}

.settings h1 {
font-size: 30px;
text-align: left;
font-weight: 300;
margin: 20px 0 20px 0;
clear: left;
}

.reports h1 {
margin: 40px 0;
}

.reports h2 {
font-size: 30px;
text-align: center;
font-weight: 300;
margin: 30px 0 15px 0;
clear: left;
}

.settings_box input,
.settings_box textarea {
	width: 100%;
}

.settings_box h2 {
font-size: 18px;
font-weight: 300;
margin: 0 0 5px 0;
}

.settings_box label {
font-size: 14px;
margin: 17px 0 3px 0;
}

.settings_box select {
width: 100%;
}

.settings_separator {
width: 100%;
border-bottom: 1px solid #ccc;
float: left;
margin: 30px 0;
}

#errors h1 {
font-weight: 300;
color: #ff0000;
margin: 10px 0;
font-size: 24px;
}

#hidden_industry_box {
position: absolute;
background: #fff;
border: 1px solid #CCC;
width: 880px;
z-index: 1000;
top: 156px;
left: 20px;
padding: 20px;
}

#hidden_industry_box.in_edit {
top: 590px;
}

.icol {
float: left;
}

h1.thank_you {
margin: 10px 0;
}

.download_software_link a,
.version a {
text-decoration: underline;
}

.billing {
width: 958px;
border: 1px solid #ccc;
background: #fff;
position: relative;
}

.left_menu {
width: 198px;
border-right: 1px solid #ccc;
position: absolute;
top: 0;
left: 0;
height: 100%;
}

.billing .content {
float: right;
padding: 38px;
width: 683px;
}

.left_menu ul {
margin: 20px 0;
padding: 0;
}

.left_menu ul li {
list-style: none;
height: 50px;
line-height: 50px;
padding: 0 20px;
font-size: 14px;
}

.left_menu ul li.active {
background: transparent url('../images/left_menu_bg.png') repeat-x 0 0;
}

.billing {
margin-top: 40px;
}

.billing .content h2 {
font-size: 24px;
font-weight: 300;
margin: 0;
}

.billing .content table {
width: 100%;
margin-left: 0;
margin-right: 0;
}

.billing .content table td {
position: relative;
}

a.get_invoice {
width: 20px;
height: 20px;
background: transparent url('../images/view_invoice.png') no-repeat 0 0;
display: block;
position: absolute;
top: 10px;
right: 10px;
}

.billing .button.red {
padding: 0 30px;
}

.wizard {
width: 100%;
border: 1px solid #ccc;
background: #FFF;
margin: 40px 0 0 0;
}

.wizard .wizard_top {
width: 100%;
border-bottom: 1px solid #ccc;
min-height: 200px;
}

.wizard .wizard_top.noborder {
border-bottom: none;
}

.wizard h2 {
font-size: 24px;
margin: 50px 0 30px;
font-weight: 300;
width: 100%;
text-align: center;
display: inline-block;
}

.visible {
display: block;
}

.wizard .location {
position: relative;
display: inline-block;
margin: 0 0 80px 350px;
}

.wizard .suggestions {
margin-top: 5px;
}

.wizard input[type="radio"] {
margin: 0 5px 0 240px;
height: 24px;
}

.wizard .next {
width: 150px;
clear: both;
display: block;
float: none;
margin: 100px auto 50px auto;
}

.condensed_location {
margin-left: -25px;
width: 550px;
position: relative;
top: 0;
left: 0;
}

.cloc_wrap {
position: relative;
float: left;
width: 550px;
}


.condensed_location span {
font-size: 14px;
float: left;
}

.wizard_industries.industries {
display: block;
margin: 70px 40px 40px 40px;
width: 100%;
position: relative;
float: none;
}

.wizard_industries {
margin: 0 40px 40px 40px;
float: left;
}

.wizard_industries label {
max-width: 195px;
}

.wizard_industries.functions .icol {
width: 210px;
}

.wizard_industries.company_size {
margin: 70px 0 40px 300px;
display: none;
width: 100%;
position: relative;
float: none;
}

.wizard_industries.seniority_level {
margin: 0 0 40px 300px;
}

.wizard_top h3 {
text-align: center;
margin: 50px 0 10px 0;
font-size: 24px;
}

.wizard_top input.target_visits_per_day {
margin: 0 auto;
display: block;
}

.wizard_industries .builder_col {
margin-left: 78px;
}

h2.step8 {
font-size: 30px;
margin: 50px 0 30px;
font-weight: 300;
width: 90%;
text-align: center;
display: inline-block;
padding: 0 5%;
}

.prompt_wizard {
width: 100%;
float: left;
border: 1px solid #ccc;
border-radius: 5px;
background: #fff;
margin: 0 0 15px 0;
}

.prompt_wizard h1 {
font-size: 27px;
font-weight: bold;
}

.prompt_wizard h2 {
font-size: 24px;
font-weight: 300;
width: 580px;
text-align: center;
margin: 20px auto 0 auto;
}

.prompt_wizard a {
width: 100px;
text-align: center;
margin: 40px auto;
display: block;
}

select.target_visits_per_day {
margin: 0 auto;
display: block;
float: none;
}

.campaign.default {
background: #ebebeb;
border: none;
box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4) inset;	
}

.campaign.default .campaign_top {
display: none;
}

.campaign.default .info_box {
float: left;
margin-left: 137px;
}

.campaign.default .visits_box {
left: auto;
right: 0;
border-right: 0;
border-left: 1px solid #cccccc;
}

.campaign.default .campaign_footer {
border-top: 1px solid #ccc;
}

.campaign.default .status_box {
border-right: 1px solid #ccc;
}

.campaign.default .footer_box {
display: none;
}

.campaign.default .footer_box.li_user {
float: right;
display: block;
}

.query_based.auto {
font-weight: 300;
margin-top: 45px;
}

td.nobreak {
word-break: break-all;
}

select.wide.in_edit {
margin: 15px 0 0 20px;
}

input::-ms-clear {
display: none;
}

.recurly button.submit:active,
.recurly button.submit[disabled],
.recurly button.submit {
background: #8dc63f;
border: none;
box-shadow: none;
color: #FFF;
font-family: Lato;
font-weight: 300;
height: 60px;
padding: 0 30px;
font-size: 20px;
}

.recurly button.submit:hover {
color: #fff;
cursor: pointer;
}

.editor_top .left {
width: 305px;
}

.editor_top .left select {
width: 80%;
}

.location_description {
display: block;
width: 100%;
text-align: center;
}

ol.steps_box {
width: 270px;
margin: 20px auto;
}

a.button.top_login {
float: right;
margin: 20px 10px 20px 0;
padding: 0 40px;
}

.graph {
margin: 46px 0 0 0;
float: left;
width: 943px;
height: 369px;
background: transparent url('../images/sq_graph.png') no-repeat 0 0;
}

.arrow_down {
width: 100px;
height: 32px;
/*background: transparent url('../images/arrow_down_index.png') no-repeat 0 0;*/
display: block;
position: absolute;
left: 50%;
margin-left: -50px;
}

.psub {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin: 0;
background: #24a8e0;
color: #fff;
}

.psub-under {

}

.psub ul {
font-size: 20px;
list-style: none;
text-align: left;
margin: 10px auto;
width:1338px;
position: relative;
left: 15px;
display: block;
}
.psub li {
width: 213px;
margin: 0 10px 0 0;
float: left;
color: #fff;
}
.segment.info .psub h2 {
font-size: 26px;
margin: 10px 0;
}
.psub b {
font-size: 20px;
}

.segment.info .psub p {
width: 760px;
text-align: left;
display: block;
clear: both;
margin: 0 auto;
padding: 20px 0;
}

.psub-under h2 {
display: block;
}

.psub ul b {
text-decoration: underline;
}

.contact {
width: 400px;
font-size: 18px;
color: #fff;
position: absolute;
top: 150px;
left: 50%;
margin-left: -552px;
}

.tight-editor-section {
width: 322px;
border-top: none;
}

.tight-editor-box {
margin-top: 10px;
min-height: 0;
}

.editor_box.box_prio.tight-editor-box {
margin-top: 10px;
}

.tight-right-side {
width: 606px;
float: left;
margin-top: 10px;
}

.tight-right-side textarea {
width: 830px;
height: 130px;
}

.tight-right-side .submit_box {
margin: 0 20px 0px 0;
width: auto;
text-align: right;
margin-top: 10px;
}

.invite p{
font-size: 14px;

}
.invite input[type="text"] {
height: 30px;
padding: 0 5px;
width: 250px;
border: 1px solid #959595;
font-size: 12px;
font-family: inherit;
}

.button.invite {
height: 40px;
border-radius: 8px;
line-height: 40px;
font-size: 20px;
padding: 0 25px;
}

#supportPage {

width: 960px;
margin: 0 auto 100px auto;
font-size: 18px;
}
#supportPage h1 {
font-size: 32px;
}
#supportPage h2 {
font-size: 24px;
padding: 5px 0px 0px 0px;
}
#supportPage a {
color: #8dc63f;
font-weight: 500;
text-decoration: underline;
}
#supportPage table{
background-color: white;
width: 80%;
border: 1px solid black;
margin-left:auto; 
margin-right:auto;
}

#supportPage ul li {
list-style: circle;
}
ul.bulletPoints {
list-style: initial;
display: block;
margin: 19px 0;
padding: 0 0 0 40px;
}

#supportPage ul {
padding: 0px 0px 0px 20px; 
}
#supportPage ol {
padding: 0px 0px 0px 20px; 
}

/* Blog */
.blog-admin-container {
width: 1000px;
margin: 50px auto;
}

.blog-admin-container hr {
float: left;
width: 100%;
margin: 30px 0 0 0;
display: block;
}

.new-blog-post input[type="text"] {
width: 970px;
}

.new-blog-post textarea {
display: block;
margin: 10px 0;
resize: both;
width: 990px;
height: 200px;
padding: 5px;
font-size: 14px;
}

.new-blog-post button {
float: left;
width: 100px;
height: 30px;
font-size: 14px;
text-align: center;
}

.blog-admin-container .blog-post {
width: 700px;
float: left;
}

.blog-post {
padding: 0;
}

fieldset.blog-post {
padding: 12px;
color: #6e6e6e;
margin: 10px 0 0 0;
}

fieldset.messages {
margin: 80px 0 0 0;
}

fieldset.blog-post legend {
font-size: 16px;
font-weight: bold;
}

.blog-post-inner {
color: #252525;
margin-top: -10px;
}

.blog-post a {
color: #8dc63f;
font-weight: bold;
}

.help-header-box a {
   color: #8dc63f;
font-weight: bold; 
}

.blog-post h1 {
font-weight: 100;
text-align: left;
font-size: 22px;
margin: 0 0 15px 0;
}

.all-blog-posts .blog-post h1 {
    margin-top: 50px;
    margin-bottom: 0;
}

.blog-post h4 {
margin: 0;
}

.blog-post-meta {
width: 260px;
float: left;
padding: 10px;
}

.blog-post-meta select {
float: none;
}

.blog-post-meta a {
display: block;
}

.blog-post-explanation {
width: 310px;
float: right;
font-size: 14px;
}

.latest-blog-post {
}

.all-blog-posts{
margin: 0 auto;
width: 800px;
}

.show-finished {
margin-left: 15px;
}

.segment.info a.button.medium.test-it-out-button {
width: 100px;
height: 40px;
line-height: 40px;
padding: 0 10px;
margin: 10px;
font-size: 18px;
}

.segment.info h3 {
margin: 10px 0 0 0;
}

.demo-video {
background: #172e5a url('../images/background-x.jpg') no-repeat center 0;
width: 100%;
padding: 30px 0 0px 0;
background-size: 100% 100%;
}

.demo-video iframe {
position: relative;
top: 3px;
}

.display-option-dropdown {
margin: 4px 20px 0 0;
width: 250px;
}

.display-option-button {
border: none;
font-weight: bold;
margin-left: 10px;
}

a.read-more {
    display: block;
    color: #000;
    margin-top: 10px;
}

ul.user-menu {
    position: absolute;
    right: -20px;
    top: 43px;
    background: #fff;
    border: 2px solid #939598;
    padding: 2px;
    z-index: 10000;
    display: none;
}

ul.user-menu li {
    height: 30px;
    line-height: 24px;
    padding: 0 10px;
    width: 100px;
}

ul.user-menu li:hover {
    background: #F2F2F2;
}

ul.user-menu li a {
    color: #8dc63f;
    font-weight: bold;
    font-size: 16px;
	width: 100%;
	display: inline-block;
}

ul.user-menu li a:hover {
    text-decoration: none;
}

ul.user-menu i.outer-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #939598;
    top: -11px;
    right: 17px;
    z-index: 100;
}

ul.user-menu i.inner-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -8px;
    right: 20px;
    z-index: 110;
}

.query-slicer-top {
    width: 100%;
}

.query-slicer-h1 {
    font-size: 22px;
    font-weight: 100;
    text-align: left;
}

table.query tr:nth-child(odd).got-viewback {
	background: #eeffee;
}
tr.got-viewback {
	background: #eeffee;
}

.referer {
	margin-top: 30px;
}

.referer-info-box {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 15px;
}

.referer-info-box input {
	width: 100%;
}

.referer-info-box h4 {
	margin: 0;
}

.refered-company-name {
	font-size: 18px;
	font-weight: bold;
}

.refered-company-date {
	font-size: 13px;
}

.refered-company-refered-by {
	font-size: 13px;
	font-weight: bold;
}

.refered-company-payment {
	float: right;
	font-size: 18px;
	font-weight: bold;
}

.refered-company-total {
	float: right;
	margin-top: 20px;
	clear: both;
}

.refered-company-total-text {
	font-size: 24px;
}

.refered-company-total-amount {
	font-size: 24px;
	font-weight: normal;
}

.refered-company-note {
	clear: both;
	width: 100%;
	font-size: 12px;
	margin-top: 5px;
}

.refered-company-row {
	border-bottom: 1px solid #eee;
	padding: 10px 0;
}

.refered-company-row:last-child {
	border-bottom: none;
	padding: 10px 0 0 0;
}

.refered-company-row:first-child {
	padding: 0 0 10px 0;
}

.refered-company-type {
	float: right;
	font-size: 12px;
	width: 49px;
	line-height: 27px;
	margin-left: 10px;
	text-align: left;
}

.support-updated {
    font-weight: bold;
    color: red;
    display: inline-block;
    margin-top: 10px;
}
.orange-label {
    font-weight: bold;
    color: white;
    display: inline-block;
	font-weight: normal;

	margin-right:10px;
}
.add-users-form-div {
	width: 300px;
	float: left;
}
.new-user-instructions {
	display: block;
	color: #252525;
	background-color: #f9fbfb;
	float: right;
	display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 1px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 300px;
}
.orange-label span {
	background: #f7931d;
	padding: 3px 6px 3px 6px;
	font-size: 10px;
}


.support-print {
    float: right;
    display: inline-block;
    margin-top: 10px;
}

.support-updated-red {
	color: red;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.segment_inner.install-instructions {
	width: 880px;
	height: auto;
	padding-bottom: 100px;
}

.register-email {
	text-align: left;
}

.register-email a {
	color: #15c;
	text-decoration: underline;
}

.client-version-info {
	display: inline-block;
}

.client_software_box .row b.bold {
	font-weight: bold;
}

.blog-post-inner span.green {
	color: #8dc63f;
	font-weight: bold;
}

.blog-post-inner span.red {
	color: red;
	font-weight: bold;
}

.blog-post .visit-maximizer-settings {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
	font-size: 16px;
}

.visitMaximizer .wizard {
	border: none;
}

.visitMaximizer .wizard_top {
	border: none;
}

.visitMaximizer h2 {
margin-top: 0;
text-align: left;
margin-bottom: 0;
}

.visitMaximizer h2.text-center {
	text-align: center;
}

.visitMaximizer .location_description {
text-align: left;
}

.visitMaximizer .primary_locations {
margin: 0;
}

.visitMaximizer .wizard_industries.seniority_level {
margin: 0;
}

.visitMaximizer .wizard_industries {
margin: 0;
}

.visitMaximizer .wizard_industries .builder_col {
margin: 0;
}

.visitMaximizer .builder_col.small h4 {
margin: 0;
}

button.button.small {
	border: none;
}

a.visit-maximizer-help {
display: inline-block;
top: -14px;
}

.vbr-metrics {
	display: block;
	border: 1px solid #555;
	padding: 10px;
	margin: 10px auto 0 auto;
	width: 400px;
}

.vbr-metrics strong {
	margin: 0 0 10px 0;
	display: block;
	font-size: 24px;
	text-decoration: underline;
}

.vbr-metrics .col {
	width: 200px;
	float: left;
}

.vbr-metrics .col b {
	display: block;
}

.vbr-metrics .col span.trow {
	display: block;
}

.vbr-metrics .col span.red {
	color: red;
}

.settings-alerts-email {
	display: block;
	float: none;
	resize: both;
	clear: both;
	width: 100%;
	height: 80px;
}

.unsubscribe {
width: 400px;
height: 200px;
background: #fff;
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.45);
border-radius: 10px;
margin: 40px auto;
padding: 20px;
}

.unsubscribe .button {
display: block;
float: none;
margin: 50px auto;
width: 109px;
text-align: center;
}

.plan-picker {
	border-collapse: collapse;
	width: 100%;
}

.plan-picker thead {
	background: #e2e3e4;
}

.plan-picker thead th {
	width: 25%;
	height: 50px;
	border: 1px solid #ccc;
	font-size: 14px;
}

.plan-picker thead th:first-child,
.plan-picker tbody td:first-child {
    width: 25%;
    font-weight: 100;
    text-align: left;
    padding-left: 20px;
    font-size: 18px;
}

.plan-picker tbody td {
	border: 1px solid #ccc;
}

.plan-picker tbody tr.middle-column td {
	vertical-align: top;
    height: 60px;
    padding-top: 15px;
}

.plan-picker tbody tr.middle-column td.plan {
	text-align: center;
	font-size: 22px;
}

.plan-picker tbody tr td.plan-benefits {
	text-align: center;
	font-size: 18px;
}

.plan-picker tbody tr.middle-column td .green {
	display: block;
    font-size: 14px;
    color: #8dc63f;
    font-weight: 400;
	margin-top: 2px;
}

.plan-picker tbody tr:last-child td {
	height: 44px;
}

.plan-picker tbody tr td input {
	float: none;
	top: -2px;
	position: relative;
}

.plan-picking-page h3 {
	margin: 20px 0 10px 0;
}

#page.plan-picking-page {
	width: 958px;
}

.email-adder {
	margin: 0 -15px;
}

.email-adder input {
	display: block;
	margin-top: 10px;
	width: 100%;
}

.li-user-row {
    font-size: 16px;
    font-weight: bold;
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
}

.button.large.send-invites {
	margin: 0 auto;
	display: block;
	border: none;
	height: 45px;
	border-radius: 7px;
	line-height: 45px;
	font-size: 24px;
	padding: 0 30px;
	cursor: pointer;
}

.button.large.change-plan {
	margin: 20px 0 0 0;
	float: right;
	display: block;
	border: none;
	height: 45px;
	border-radius: 7px;
	line-height: 45px;
	font-size: 24px;
	padding: 0 30px;
	cursor: pointer;
}

.follow-scroll {
margin: 110px 0 0 0;
display: block;
text-align: center;
width: 550px;
}

.follow-scroll p {
margin: 20px auto;
display: block;
width: 300px;
}

.sent-invite {
	font-weight: bold;
	margin: 0 0 10px 15px;
	display: block;
}

.unsubscribe.instruction {
	width: 700px;
}

.unsubscribe.instruction h4 {
	margin: 0;
	font-size: 24px;
}

.unsubscribe.instruction span.instruction {
	display: block;
	margin: 5px 0;
	font-size: 18px;
}

.unsubscribe.instruction span.instruction a {
	text-decoration: underline;
	color: #8dc63f;
	font-weight: bold;
}

.ref-splash-header {
	text-align: left;
	color: #8dc63f;
	font-weight: normal;
	margin: 10px 0 0 0;
}

#helpUsGrow .modal-inner h1 {

}

#helpUsGrow .modal-inner p {
	margin-top: 5px;
}

#helpUsGrow .modal-inner input[type="text"] {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
}

#helpUsGrow .modal-inner div.ttps {
	margin-top: 10px;
}

#helpUsGrow .modal-inner div.last-row {
	font-size: 18px;
}

#helpUsGrow .modal-inner label {
	font-size: 16px;
	font-weight: bold;
}

#helpUsGrow .modal-inner input[type="text"].ref-paypal {
	height: 25px;
	display: inline-block;
	width: 240px;
	margin-left: 10px;
	padding: 0 5px;
}

#helpUsGrow .modal-inner button.send-referrals {
	width: 180px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	margin-top: 20px;
}

.container {
	width: 1260px;
}

@media (min-width: 1200px) {
	.container {
	    width: 1260px;
	}
}
@media (min-width: 992px and max-width: 1200px) {
	.container {
	    width: 1260px;
	}
}
@media (min-width: 768px and max-width: 992px) {
	.container {
	    width: 1260px;
	}
}

.container.full-width {
	width: 95%;
	margin: 0 2.5%;
}

#coc_form .bordered-table,
#title_form .bordered-table {
	width: 100%;
	margin-top: 0;
}

#coc_form .bordered-table input[type="checkbox"],
#title_form .bordered-table input[type="checkbox"] {
	float: right;
}

#coc_form .bordered-table label,
#title_form .bordered-table label {
	margin-bottom: 0;
}

label.radio {
	margin: 0;
}

.geobuilder {
}

.geobuilder .base_url {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

.geobuilder .editor_box {
margin: 20px 0 0 0;
padding-bottom: 52px;
width: 100%;
}

.geobuilder .suggestions {
display: block;
margin-top: -52px;
width: 100%;
}

.geobuilder .suggestions input {
	width: 100%;
}

.geobuilder .suggestions ul.box {
width: 100%;
}


.geobuilder .select-size-label { 
margin: 0 0 0 0;
}
.geobuilder .select-name {
float: none;
}

.geobuilder .select-url-limit-label { 
margin: 0 0 0 0;
}
.geobuilder .select-url-limit {
float: none;
}

.geobuilder .geo-section {
float: left;
width: 167px;
}

.geobuilder textarea {
float: left;
height: 400px;
}

#map-canvas {
height: 400px;
}

.geobuilder .editor_box h3 {
display: none;
}

.geobuilder .editor_box .add_location {
display: none;
}

.geobuilder button.reset-settings {
font-size: 14px;
width: 120px;
height: 30px;
margin-top: 50px;
opacity: 0.6;
}

.geobuilder button.create-camp {
width: 310px;
font-size: 14px;
margin: 15px 0;
float: left;
}

.button.medium.cloud.on-dashboard {
	float: left;
	clear: left;
}

.download_software_link.on-dashboard i {
	display: inline-block;
	margin-right: 5px;
}

.bordered-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 15px;
	position: relative;
}

input[type="text"].form-control, input[type="email"].form-control, input[type="tel"].form-control, input[type="password"].form-control {
	height: 34px;
	padding: 6px 12px;
	width: 100%;
	border: 1px solid #ccc;
	font-size: 14px;
}

.admin-email {
	margin-top: 20px;
}

.admin-email ul li a {
	text-decoration: underline;
}

.admin-email .inactive-template {
	background: #ffcccc;
	padding: 2px 10px 3px 10px;
	border-radius: 2px;
	display: block;
	margin-bottom: 1px;
}

.admin-email .active-template {
	background: #ccffcc;
	padding: 2px 10px 3px 10px;
	border-radius: 2px;
	display: block;
	margin-bottom: 1px;
}

.visited-profiles-date-picker label {
	float: left;
}

.visited-profiles-date-picker {
	float: left;
}

tr.is_frozen {
	background: #ffaaaa;
}


tr.is_zero_account {
	background: #aaaaff;
}

.rowbox {
    border: grey solid 1px;
    padding: 20px;
    margin: 5px;
}

.rowbox.small-panels {
    height: 550px;
}

