html, body{
	height:100%;
	box-sizing:border-box;
}

.landing_header{
	text-align:center;
	box-sizing:border-box;
}

.landing_content{
	height:100%;
}

.third{
	display:inline-block;
	box-sizing:border-box;
	width:33%;
	height:100%;
	vertical-align: middle;
	padding: 10px 5px;
}

.third h3{
}

.third a{
	display:block;
	line-height:30px;
}

i.fa.fa-flag{
	color:#b20000;
}
