
html {
	height: 100%;
}

body {
	background: #636466;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 300;
	/*letter-spacing: 1px;*/
	padding: 0 35px 35px 35px;
	height: 100%;
}

div.new_container{

	height:calc( 100% - 45px );
	background-color:#f3f4eb;
	
}

span#float-right-menu{
	
	display:block;
	float:right;
	width:130px;
	text-align:right;
	height: 80px;
    line-height: 90px;
    display: inline-block;
    padding: 0 20px;
    color: #666666;
	margin-right:4px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
	cursor:default;
	position:relative;
		
}

span#float-right-menu ul{
	
	display:none;
	list-style-type:none;
	margin:0;
	padding:0;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #ebcccc;
	top: 60px;
	text-align:left;
    left: -18px;
    padding: 5px 10px;
	box-sizing:border-box;
	width:100%;
	
}

span#float-right-menu ul li{

	display:block;
	width:100%;
	height:30px;
	line-height:30px;
	
}

span#float-right-menu ul li a{

	padding:0 !important;
	
}


a {
	color: #008cc9;
}

a.show-full-urls {
	font-weight: 300;
	font-style: italic;
}

.container {
	width: 100% !important;
}

.main-wrapper {
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	width: 100%;
	margin: 0 auto;
	display: table;
}

.main-wrapper#campaign_builder{
	height:100%;
}

.left-side {
	width: 285px;
	display: table-cell;
	padding: 0 15px;
}

.right-side {
	display: table-cell;
	padding: 0 15px;
	vertical-align: top;
	background: #f3f4eb;
}

.header {
	height: 80px;
	border-bottom: 1px solid #d9d9d9;
	background: #fff;
}

.menu {
	padding-left: 25px;
}

a.menu-item {
	height: 80px;
	line-height: 90px;
	display: inline-block;
	padding: 0 20px;
	color: #666666;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0;
}

a.menu-item:first-child {
	padding-left: 0;
}

a.menu-item.active {
	color: #000;
	font-weight: 600;
}

.logo {
    width: 182px;
    height: 51px;
	margin-top: 14px;
    background: transparent url(../images/ViewGenFinalLogo-01.png) no-repeat left center;
    display: block;
}

.left-sidebar {
	background: #fff;
	/*border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;*/
}

.user-box {
	padding-top: 15px;
	line-height: 15px;
	height: 34px;
}

.user-profile-image {
	width: 70px;
	height: 70px;
	border-radius: 70px;
	background: #000;
}

.user-box .user-name {
	color: #008cc9;
	font-size: 18px;
	display: block;
	margin-top: 2px;
	font-weight: bold;
}

.user-box a.change-user {
	color: #008cc9;
	text-decoration: underline;
	font-size: 12px;
}

.user-status {
	margin-top: 10px;
	margin-bottom: 15px;
	line-height: 15px;
}

.user-status .status-title {
	color: #5b5b5b;
	display: block;
	font-size: 14px;
}

.user-status .status-value {
	color: #008cc9;
	display: block;
	font-size: 14px;
}

.user-stats {
	/*border-left: 3px solid #005786;
	border-right: 3px solid #d99628;*/
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.user-stats:last-child {
	margin-bottom: 200px;
	border: none;
}

.user-stats-header-left {
	border-top: 3px solid #005786;
	color: #005786;
	font-size: 13px;
	border-bottom: 1px solid #d9d9d9;
}

.user-stats-header-right {
	border-top: 3px solid #d99628;
	color: #d99628;
	text-align: right;
	font-size: 13px;
	border-bottom: 1px solid #d9d9d9;
}

.user-stats-title {
	border-bottom: 1px solid #d9d9d9;
	font-size: 15px;
	color: #5b5b5b;
	padding: 0;
	margin-top: 29px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-weight: 300;
	padding-bottom: 3px;
}

.user-stats-subtitle {
	font-size: 14px;
	color: #5b5b5b;
}

.left-stats {
	font-size: 20px;
	color: #005786;
	float: left;
	font-weight: 400;
	text-align: right;
	width: 32%;

	margin: 0 auto;
	float: none;
	text-align: center;
}

.right-stats {
	font-size: 20px;
	color: #d99628;
	float: right;
	font-weight: 400;
	text-align: left;
	width: 32%;
}

.middle-row {
	height: 1px;
	width: 30%;
	background: -webkit-linear-gradient(left, #005786, #d99628);;
	float: left;
	margin-top: 15px;
	margin-left: 3%;
}

#time_chart {
	width: 100%;
	height: 300px;
	margin-top: -200px;
}

.time-chart {
	height: 80px;
	overflow: hidden;
}

.time-pickers {
	height: 60px;
}

.time-pickers .time-pickers-specify {
	height: 60px;
	line-height: 60px;
	float: left;
	margin-left: 0;
	font-weight: 600;
	color: #000;
	font-size: 12px;
}

.time-pickers a {
	height: 60px;
	display: block;
	line-height: 60px;
	float: left;
	padding: 0 10px;
	color: #666666;
	font-size: 12px;
}

.time-pickers a.active {
	color: #d99628;
	font-weight: 600;
}

.time-pickers {
	
}

.chart-headers {
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	height: 61px;
	padding-left: 40px;
	border-left: 1px solid #d9d9d9;
}

.charts {
	padding-left: 25px;
	padding-right: 25px;
}

.charts .chart {
	width: 100%;
	height: 200px;
	background: #fff;
	border: 1px solid #d9d9d9;
}

.chart-title {
	margin-top: 30px;
	margin-bottom: 15px;
	display: block;
	font-weight: 400;
	font-size: 15px;
	color: #5b5b5b;
	letter-spacing: 0;
}

.campaign-list {
	border: none;
	margin-bottom: 200px;
}

.campaign-action-header {
    background: #008cc9;
    height: 45px;
    line-height: 45px;
    color: white;
/*    color: #008cc9;*/
    font-weight: bold;
    font-size: 17px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    margin: 5px 0;
/*	border-top: 1px solid #fff;*/
	border: 2px solid #008cc9;
/*	margin-bottom: 1px;*/
}

.campaign-list-header {
/*    background: #008cc9;*/
    height: 45px;
    line-height: 45px;
    color: #008cc9;
    font-weight: bold;
    font-size: 14px;
/*	border-top: 1px solid #fff;*/
	border: 2px solid #008cc9;
	margin-bottom: 1px;
}

.campaign-list-header:first-child {
/*	border-top: none;*/
}

.campaign-item {
	overflow: hidden;
	position: relative;
	cursor: pointer;
	background: #fff;
	color: #5c5b5c;
	height: 60px;
	font-weight: 400;
	display: block;
	border-bottom: 1px solid #eee;
}

.campaign-item .clickable-body{
    height: 58px;
    width: 240px;
}

.campaign-item:last-child {
	border-bottom: none;
}

.campaign-item.active {
	background: #F3F4EB;
}

.campaign-item.active::before {
	content: '';
	width: 6px;
	background: #008cc9;
	height: 57px;
	position: absolute;
	top: 1px;
	left: 1px;
}

.campaign-item .clickable-body:hover {
	background: #bfe5f4;
}

.campaign-item .campaign-name {
	display: block;
	font-weight: bold;
	margin-top: 9px;
	font-size: 16px;
    width: 285px;
}

.campaign-item .campaign-progress {
	font-size: 11px;
	margin-top: -2px;
	display: block;
	font-weight: 300;
}

.campaign-info {
	padding-left: 40px;
	padding-right: 40px;
	background: #F3F4EB;
}

.campaign-info-header {
	height: 40px;
	/*border-bottom: 2px solid #d9d9d9;
	border-right: 2px solid #d9d9d9;*/
}

.campaign-info-header a {
	margin: 20px 20px 0 20px;
	display: block;
	float: left;
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
}

.campaign-info-header a:first-child {
	margin-left: 0;
}

.campaign-info-header a.active {
	color: #000000;
	font-weight: 600;
    border-bottom: 2px solid #008CC9;
}

.campaign-box-header {
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	display: block;
	margin: 30px 0 5px 0; 
}

.campaign-info-box {
	border: 1px solid #d9d9d9;
	background: #fff;
	padding: 20px;
}

.campaign-info-box-title {
	color: #5b5b5b;
	font-size: 12px;
	display: block;
	margin-top: 20px;
}

.campaign-info-box-title:first-child {
	margin-top: 0;
}

.campaign-info-box-value {
	color: #005786;
	font-size: 14px;
	font-weight: 600;
}

.campaign-info-box-main-title {
	font-size: 15px;
	color: #5b5b5b;
	font-weight: 300;
	margin-bottom: -15px;
	border-bottom: 1px solid #d9d9d9;
	display: inline-block;
	position: relative;
	top: -3px;
}

.campaign-info-box-main-title:first-child {
	margin-top: 0;
}

.campaign-info .viewgen-table {
	margin-top: 15px;
}

.viewgen-table {
	border: 1px solid #e6eaed;
}

.viewgen-table thead {
	background: #f5f8fa;
	color: #90a0b3;
}

.viewgen-table td {
	padding: 15px;
}

.viewgen-table th {
	padding: 10px 15px;
	border-top: 1px solid #d9d9d9;
	background: #fff;
	font-weight: 400;
	color: #555;
}

.viewgen-table.table thead th {
	border-bottom: 1px solid #eceeef;
}

.viewgen-table tbody {
	background: #fff;
}

.viewgen-table b {
	font-weight: 600;
}

.table-tagline {
	font-size: 11px;
	display: block;
}

a.new-campaign {
	float: right;
	background: #fff;
	border-color: #008cc9;
	color: #008cc9;
	display: block;
	border: 1px solid #008cc9;
	border-radius: 1px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	margin-top: 9px;
}

/*.campaign-builder-parameters {*/
	/*border-left: 1px solid #ddd;*/
	/*border-right: 1px solid #ddd;*/
	/*border-bottom: 1px solid #ddd;*/
	/*border-top: 1px solid #ddd;*/
/*}*/

.parameter-title {
/*	font-size: 12px;*/
	margin-top: 20px;
	display: block;
	display:inline-block;
	color: #008cc9;
	font-weight: bold;
	padding-bottom: 8px;
	font-size: 14px;
	margin-right: 2px;
}

.campaign-builder-parameter-box {
	background: #fff;
	border: 1px solid #aaa;
	padding: 15px;

}

.campaign-builder-parameters textarea {
	height: 150px;
	color: #5c5b5c;
}

.campaign-info .viewgen-table.query-list {
	margin-top: 0;
	border: 1px solid #d9d9d9;
}

.connectedSortable {
	width: 100%;
	overflow: hidden;
}

.campaign-list-header[data-toggle="collapse"] {
	cursor: pointer;
}

.initial-collapsed {
	height: 0;
}

.initial-collapsed.collapse.show {
	height: auto;
}

.connectedSortable .campaign-item .status-icon {
	display: none;
}

.connectedSortable .campaign-item:first-child .status-icon {
	display: inline-block;
}

.archive-campaign {
	font-weight: 300;
	font-style: italic;
	font-size: 14px;
	color: #008cc9;
}

.waiting-for-users {
	padding: 15px;
	width: 800px;
	height: 200px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 10px;
}

.waiting-for-users img {
	float: left;
}

.waiting-for-users div {
	float: left;
	width: 500px;
	margin-top: 40px;
	margin-left: 15px;
}

.left-sidebar {
	min-height: 100vh;
/*	border-right: 1px solid #d9d9d9;*/
}

.download-box {
	width: 400px;
	height: 150px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 20px;
	margin: 50px auto;
	text-align: center;
}

.download-box a {

	width: 300px;
	height: 75px;
	background: #2188bf;
	font-size: 18px;
	text-align: center;
	line-height: 75px;
	color: #fff;
	display: block;
	margin: 15px auto;
}

a.download-box-link {
	background: none;
	color: #008cc9;
	display: unset;
}

.status-icon {
	width: 14px;
	height: 14px;
	display: inline-block;
}

.status-icon.running {
	background: url('../images/software_running.png');
}

.status-icon.waiting {
	background: url('../images/software_waiting.png');
}

.status-icon.offline {
	background: url('../images/software_offline.png');
}

#change_user {
	width: 80%;
	height: 35px;
	float: left;
	position: relative;
	top: -7px;
}

.beside-changeuser {
	margin: 4px 0 0 10px;
	position: relative;
	top: 3px;
}

.software-status-text {
	display: block;
	clear: both;
	font-weight: bold;
}

.software-status-text.with-multi {
	display: block;
	position: relative;
	clear: both;
	top: -7px;
}

.url-parameters {
	border: 1px solid #008cc9;
	color: #555;
	font-weight: 400;
	font-size: 11px;
	text-align: left;
	line-height: 15px;
}

.url-parameters i {
	color: #999;
}

.location-row {
	
}

.location-row input {
	display: inline;
}

.location-row label {
	display: inline;
	padding-left: 5px;
}

.location-selector .suggestions {
	position: relative;
    margin-bottom: 20px;
}

.location-selector ul.box {
	padding: 0 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 0 0 5px 5px;
	z-index: 1000;
	position: absolute;
	width: 100%;
	top: 36px;
}

.location-selector ul.box li {
	list-style: none;
	padding: 2px 0;
	cursor: pointer;
}

.campaign-builder-parameter-box {
	max-height: 200px;
	min-height: 200px;
	overflow: hidden;
	position: relative;
	padding-bottom: 45px;
}

.campaign-builder-parameter-box .more-arrow {
	position: absolute;
	width: 100%;
	height: 30px;
	left: 0;
	bottom: 0;
	background: #eee;
	border-top: 1px solid #dedede;
	cursor: pointer;
	color: #555;
	text-align: center;
	line-height: 28px;
}

.export-as-csv {
	margin-top: 20px;
}

.campaign-rerun {
	position: absolute;
	bottom: 0;
	right: 6px;
	font-size: 10px;
	text-decoration: underline;
}

a.pagination_number.current_offset_selected{
	text-decoration:underline;	
}

tr#pagination_row td{
	
	text-align:center;
	font-weight:400;
		
}

tr#pagination_row td a{

	display:inline-block;
	margin-left:5px;
	margin-right:5px;
	
}

.support-iframe {
width: 100%;
height: 3000px;
border: none;
}

.campaign-builder-urls input[name=campaign_name]{
	display:inline-block;
	width:80%;
}

#campaign_builder .move-arrows {
    display: block;
    position: absolute;
    top: 11px;
    right: 6px;
    color: #008cc9;
    height: 25px;
    width: 50px;
}

#campaign_builder .move-arrows i {
    display: block;
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 15px;
    text-align: center;
}

#campaign_builder .move-arrows i:hover {
	background: #bfe5f4;
}

#campaign_builder .move-arrows i.second{
    left: 25px;
}

.flx-bl {
	display: flex;
}

.uninviter .interval-field {
	padding-right: 20px;
	max-width: 350px;
}

.uninviter-subtitle {
	line-height: 1.4rem;
	margin-bottom: 1rem;
}

.counting-start {
	padding-bottom: 54px;
	align-items: flex-end;
}

.margin-top20 {
	margin-top: 20px;
}

.message-wr {
	margin-right: 10px;
}

.loader {
	border: 4px solid #FFFFFF;
	border-radius: 50%;
	border-top: 4px solid #008cc9;
	border-bottom: 4px solid #008cc9;
	width: 25px;
	height: 25px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

button.email-capture.get-email {
	display: flex;
}

td.email-capture {
	text-align: left !important;
}