<tr>
    <td>
        <b>$ppl_name</b>
        <span class="table-tagline">
            $ppl_title
        </span>
        <span class="table-tagline">
            $ppl_email
        </span>
    </td>
    <td>
        <b>$ppl_employer</b>
        <span class="table-tagline">
            $ppl_industry
        </span>
    </td>
    <td>
        <b>$ppl_location</b>
    </td>
    <td>
        <b>$ppl_date</b><br/>
        <b>$ppl_time</b>
    </td>
    <!--<td>-->
        <!--<a href="$ppl_basic_url$ppl_linked_in_id" target="_blank">Go To</a>-->
    <!--</td>-->
</tr>
