<div class="tab_field" tab-label="Titles">
	<div class="form_section">
    	<h5 class="underline">Titles Settings</h5>
		<span class="parameter-title">VISIT profiles with any of these titles</span>
		<textarea id="campaign_field_TitlesToVisit" class="form-control" name="titles" placeholder="(one per line)"></textarea>
        <span class="parameter-title">SKIP profiles with any of these titles</span>
      		<textarea id="campaign_field_TitlesToSkip" class="form-control" name="skipTitles" placeholder="(one per line)"></textarea>
      <!--following is for a future version-->
        <!--<input type="text" name="titles">-->
        <!--<input type="text" name="titles">-->
        <!--<input type="text" name="titles">-->
        <!--<input type="text" name="titles">-->
        <!--<input type="text" name="titles">-->
        <!--<input type="text" name="titles">-->
        <!--<h5>DON'T vist anyone with these titles</h5>-->
        <!--<input type="text" name="nosearch_titles">-->
        <!--<input type="text" name="nosearch_titles">-->
        <!--<input type="text" name="nosearch_titles">-->
        <!--<input type="text" name="nosearch_titles">-->
        <!--<input type="text" name="nosearch_titles">-->
        <!--<input type="text" name="nosearch_titles">        -->
    </div>
    <div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
            <!--<p>Titles are great way to search. They tell a lot about role and responsibility.</p>-->
            <p>Use the Title Tool below to get more ideas. It is easy to forget or miss related titles. </p>
            <p><em>DON'T USE QUOTES</em> - ViewGen visits the exact titles you specify.</p>

            <!--<p><em>DON'T</em> put titles in <b>Keyword search</b>. It won't work right.</p>-->
            <!--<p>-->
                <!--If you’re using Chief Marketing Officer, etc., -->
                <!--<em>do not use</em> the specific title in the <em>Seniority Level</em> below.-->
                <!--Choose one or the other, because if the specific title in both places, the query will not work correctly. -->
                <!--If you’ve already used the specific title, you’d want to just use the topic in Seniority Level. -->
                <!--<em>Example</em>: Title is Chief Marketing Officer, and Seniority Level would be Marketing.-->
            <!--</p> -->
            <!--You can add all the titles that you DO want to find and all titles that you DON'T want to find.--></p>
<!--            <p>Often, there are many more similar titles than you can normally think of off the top of your head. To help you with that, we have added a list of titles from our database to help you.</p>
            <p>As you add a title, you will see similar titles below. Simply drag them from the list into the left panel to add them.</p>-->
        </div>
        <div class="info">
   			<h5 class="underline">Title tool</h5>
            <p>
                <input class="input" 
                       type="text" 
                       id="campaign_builder_title_tool_searchSimilar" 
                       name="campaign_builder_title_tool_searchSimilar" 
                       placeholder="Search for similar titles (random if empty)">
            </p>
            <!--<p> TODO TODO_title_select-->
                <!--<select class="selectTitleQuery" -->
                        <!--name="campaign_builder_title_tool_select" -->
                        <!--id="campaign_builder_title_tool_select">-->
                    <!--<optgroup>-->
                        <!--<option value="titles">From ALL titles in DB</option>-->
                        <!--<option value="titles-company">From all to my company</option>-->
                        <!--<option value="titles-linkedin">From my visited profile</option>-->
                        <!--&lt;!&ndash;TODO when_campaigns_query_ready <option disabled>───────────────────────────────</option>&ndash;&gt;-->
                    <!--</optgroup>-->
                    <!--&lt;!&ndash;TODO when_campaigns_query_ready ... <optgroup id="myCampaignsOptgroup" label="&nbsp;&nbsp;&nbsp;My Campaigns:">&ndash;&gt;-->
                    <!--&lt;!&ndash;</optgroup>&ndash;&gt;-->
                <!--</select>-->
            <!--</p>-->
            <div id="campaign_title_tool_list" class="form-control" name="titles">
                <ul></ul>
                <div class="loading_wrapper"><div class="loading"></div></div>
            </div>
           </div>
   <!--suggestions are a future implementation-->
        <!--<div class="suggestion">-->
        	<!--<h5>Title Suggestions</h5>-->
            <!--<div class="suggestion_box">-->
				<!--&lt;!&ndash;suggestion box goes here&ndash;&gt;-->
                <!--<p>Suggestion box needs to be fleshed out.</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>