<div class="tab_field" tab-label="Geography">
	<div class="form_section">
    	<h5 class="underline">Geography</h5>
		<div class="location-selector" id="campaign_field_Geography">
			<span class="parameter-title">LOCATIONS</span>

            <div class="suggestions">
                <input type="text" class="form-control" data-action="fetch-locations"
                         placeholder="Start typing location(s)">
                <i></i>
                <ul class="box"></ul>
            </div>
			<ul class="add_location"></ul>
            <input type="text" style="display: none" name="geography__hidden_location_facets" id="geography__hidden_location_facets" />
			$predefinedRegions
		</div>
		<!--for a future version-->
        <!--&lt;!&ndash;form elements go here&ndash;&gt;-->
        <!--<h5>Locations to search</h5>-->
        <!--<div class="suggestions">-->
        	<!--<input type="text" id="geography" placeholder="Start typing a location">-->
            <!--<span class="add_location"><i></i></span>-->
            <!--<ul class="box"></ul>-->
        <!--</div>-->
    </div><div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
             <!--help text goes here-->
            <p>Type in the cities, states or countries you want to target.</p>
            <p>United States is the default; click the X next to it to remove it.</p>
            <!--<p>United States is populated by default.</p>-->
            <!--<p>If you want to search within a <em>specific local region</em> - <em>remove the global country</em>, and left just your region.</p>-->
            <!--<p>If you use geography to <em>split</em> queries, <em>don't do that</em>. Our system performs <em>automatic query splitting</em>. -->
                <!--Just add locations meaningful for you.</p>-->
        </div>
	<!--for a future version-->
        <!--<div class="suggestion">-->
        	<!--<h5>Similar Locations</h5>-->
            <!--<div class="suggestion_box">-->
				<!--&lt;!&ndash;suggestion box goes here&ndash;&gt;-->
                <!--<p>Suggestion box needs to be fleshed out.</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>