<div class="tab_field" tab-label="Industry">
  <div class="form_section" id="campaign_field_Industry">
    <h5 class="underline">Industry</h5>
      $industries
    <!--for a future version-->
    <!--&lt;!&ndash;form elements go here&ndash;&gt;-->
    <!--<h5>Keywords to use in search</h5>-->
    <!--<input type="text" data-action="fetch-industries" placeholder="Start typing an industry" />-->
  </div><div class="help_info_section">
    <div class="info">
      <h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
      <!--help text goes here-->
      <p>
        To <em>target specific industries only</em>, check their boxes.
      </p>
      <p>
        Target by Industry or by Company, <em>BUT NOT BOTH</em>.
      </p>
        <!--<p>-->
            <!--If you want to search for <em>all</em> industries, <em>don’t check any</em> of them.-->
        <!--</p> -->
        <!--<p>-->
            <!--If you only want to search for <em>specific</em> industries, then check the boxes that apply.-->
        <!--</p>-->
    </div>
  <!--suggestions will be implemented in a future version-->
    <!--<div class="suggestion">-->
      <!--<h5>Industry Suggestions</h5>-->
      <!--<div class="suggestion_box"> -->
        <!--&lt;!&ndash;suggestion box goes here&ndash;&gt;-->
        <!--<p>Suggestion box needs to be fleshed out.</p> -->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
