<div class="tab_field" tab-label="Relationship">
	<div class="form_section"  id="campaign_field_Relationship">
		<h5 class="underline">Relationship</h5>
			$relationship
		<!--for a future version-->
		<!--form elements go here-->
		<!--<h5>Connection level</h5>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="relation[F]">-->
			<!--<label>1st Connections</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="relation[S]">-->
			<!--<label>2nd Connections</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="relation[A]">-->
			<!--<label>Group Members</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="relation[O]">-->
			<!--<label>3rd + Everyone</label>-->
		<!--</div>-->
	</div><div class="help_info_section">
		<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
			<!--help text goes here-->
            <p>
                It is always best to <em>check 2nd Level Connections and Groups</em> 
                because this is where the most successful searches happen.
            </p>
            <p>
                Your success rate is double when viewing 2nd Level Connections and 
                Groups because these people have seen your name before, 
                or see that you have a group in common, so they are more likely to feel a connection 
                and affinity for you. They will be more likely to view your profile or connect.
            </p>
            <p>
                Always start with 2nd Level Connections and Groups to get the best response rates.
            </p>
			
		</div>
	</div>
</div>
