<div class="tab_field" tab-label="Last Name">
	<div class="form_section">
		<h5 class="underline">Last Name</h5>
		<!--form elements go here-->
		<textarea   id="campaign_field_LastName" class="form-control" name="lastName" placeholder="Last Names..."></textarea>
		<!--for a future version-->
		<!--<h5>Search by last name</h5>-->
		<!--<input type="text" name="last_name">-->
	</div><div class="help_info_section">
	<div class="info">
		<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
		<!--help text goes here-->
        <p>If you want to target people with specific last name, use this parameter.</p>
              <p><em>Example:</em> you're selling T-shorts with some heroic symbolics printed 
                  and a slogan like "Starring mr. Wilson". Then you might want to target all people with last name Wilson.</p>
	</div>
</div>
</div>