<div class="tab_field" tab-label="Function">
	<div class="form_section"  id="campaign_field_Function">
    	<h5 class="underline">Function</h5>
$campaignFunctions
		<!--for a future version-->
        <!--&lt;!&ndash;form elements go here&ndash;&gt;-->
        <!--<h5>Function to search for</h5>-->
        <!--$campaignFunctions-->
    </div><div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
             <!--help text goes here-->
            <p>
                If you want to search for <em>all</em> functions, <em>don’t check any</em> of them.
            </p> 
            <p>
                If you only want to search for <em>specific</em> functions, then check the boxes that apply.
            </p>
        </div>
    </div>
</div>