<div class="tab_field" tab-label="First Name">
	<div class="form_section">
		<h5 class="underline">First Name</h5>
		<textarea   id="campaign_field_FirstName" class="form-control" name="firstName" placeholder="First Names..."></textarea>
		<!--below is input for future version-->
		<!--&lt;!&ndash;form elements go here&ndash;&gt;-->
		<!--<h5>Search by first name</h5>-->
		<!--<input type="text" name="firstName">-->
	</div><div class="help_info_section">
	<div class="info">
		<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
		<!--help text goes here-->
		<p>If you want to target people with specific name, use this parameter.</p>
        <p><em>Example:</em> you're selling T-shorts with some heroic symbolics printed 
            and a slogan like "Steel Joe". Then you might want to target all people with name Joe.</p>
	</div>
</div>
</div>