<!--feature for a future version-->
<div class="tab_field" tab-label="Your Groups">
	<div class="form_section" id="campaign_field_Groups">
    	<h5 class="underline">Your Groups</h5>
        $campaignGroups
        <!--&lt;!&ndash;form elements go here&ndash;&gt;-->
        <!--<h5>Groups to search within</h5>-->
        <!--&lt;!&ndash;not yet implemented&ndash;&gt;-->
        <!--<p>This parameter is coming soon.</p>-->
    </div><div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
             <!--help text goes here-->
            <p>Search within LinkedIn groups you belong to.</p>
            <p>Select all or any specific group or groups.
                Search inside Groups is very efficient  because these people have seen your name before,
                or see that you have a group in common, so they are more likely to feel a connection and affinity for you.
                They will be more likely to view your profile or connect.</p>
        </div>
    </div>
</div>