<div class="tab_field" tab-label="Years at Current Company">
	<div class="form_section" id="campaign_field_YearsAtCurrentCompany">
		<h5 class="underline">Years at Current Company</h5>
				$yearsAtCurrentCompany
		<!--form elements go here-->
		<!--for a future version-->
		<!--<h5>Search by years at current position</h5>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="years_in_current_position">-->
			<!--<label>Less than 1 year</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="years_in_current_position">-->
			<!--<label>1 to 2 years</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="years_in_current_position">-->
			<!--<label>3 to 5 years</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="years_in_current_position">-->
			<!--<label>6 to 10 years</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="years_in_current_position">-->
			<!--<label>More than 10 years</label>-->
		<!--</div>-->
	</div><div class="help_info_section">
	<div class="info">
		<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
		<!--help text goes here-->
        <p>
            If you want to search for <em>all</em> years at current company, <em>don’t check any</em> of them.
        </p> 
        <p>
            If you only want to search for <em>specific</em> years at current company, then check the boxes that apply.
        </p>
	</div>
</div>
</div>
