<div class="tab_field" tab-label="Company Size">
	<div class="form_section"  id="campaign_field_CompanySize">
		<h5 class="underline">Company Size</h5>
		<!--form elements go here-->
$companySize
		<!--below is setup for a future version-->
		<!--<h5>Company size to search</h5>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[10,000+]">-->
			<!--<label>10,000+</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[5001-10,000]">-->
			<!--<label>5,0001-10,000</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[1001-5000]">-->
			<!--<label>1,001-5,000</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[501-1000]">-->
			<!--<label>501-1,000</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[201-500]">-->
			<!--<label>201-500</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[51-200]">-->
			<!--<label>51-200</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[11-50]">-->
			<!--<label>11-50</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[1-10]">-->
			<!--<label>1-10</label>-->
		<!--</div>-->
		<!--<div class="checkbox">-->
			<!--<input type="checkbox" name="companySize[Self-employed]">-->
			<!--<label>Self-employed</label>-->
		<!--</div>-->
	</div><div class="help_info_section">
		<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
			<!--help text goes here-->
            <p>
                If you want to search for <em>all</em> company sizes, <em>don’t check any</em> of them.
            </p> 
            <p>
                If you only want to search for <em>specific</em> company sizes, then check the boxes that apply.
            </p>
		</div>
	</div>
</div>
