<div class="tab_field" tab-label="Company">
	<div class="form_section">
    	<h5 class="underline">Company</h5>
        <!--form elements go here-->
			<span class="parameter-title">Enter one per line</span>
			<textarea class="form-control"  id="campaign_field_Company" name="companies" placeholder="(one per line)"></textarea>
		<!--separate inputs may be added in another version-->
        <!--<h5>Search for company worked at</h5>-->
        <!--<input type="text" name="companies[]">-->
        <!--<input type="text" name="companies[]">-->
        <!--<input type="text" name="companies[]">-->
        <!--<input type="text" name="companies[]">-->
        <!--<input type="text" name="companies[]">-->
        <!--<input type="text" name="companies[]">   -->
    </div><div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
             <!--help text goes here-->
			<p>
				For those with a Named Company focus, this feature gets rid of 95% of the work needed to get value from
				SearchQuant. It facilitates searches like 'visit all recruiters at Google', or 'visit all procurment specialists at IBM,
				HP, Dell, etc.
			</p>
			<p>Add companies 1 per line, or copy/paste from a list.</p>
            <!--<p>The Company filter is great for targeting specific companies. This gets used alot by larger teams to split up different account ownerships. It facilitates searches like 'visit all recruiters at Google', or 'visit all procurment specialists at IBM, HP, Dell, etc.</p>-->
			<!--<p>Add companies 1 per line, or copy paste from another list. A lot of sales organizations will have their own lists of targets to approach. This is where you would import those lists for search generation.</p>-->
        </div>
	<!--Suggestions may be implemented in a future version-->
        <!--<div class="suggestion">-->
        	<!--<h5>Similar Companies</h5>-->
            <!--<div class="suggestion_box">-->
				<!--&lt;!&ndash;suggestion box goes here&ndash;&gt;-->
                <!--<p>Suggestion box needs to be fleshed out.</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>