<!--past company can be implemented in a future version-->
<!--<div class="tab_field" tab-label="Past Company">-->
	<!--<div class="form_section">-->
    	<!--<h5 class="underline">Past Company</h5>-->
        <!--&lt;!&ndash;form elements go here&ndash;&gt;-->
        <!--<h5>Past companies to use in search</h5>-->
        <!--&lt;!&ndash;not yet implemented&ndash;&gt;-->
        <!--<p>This parameter is coming soon.</p>  -->
    <!--</div><div class="help_info_section">-->
    	<!--<div class="info">-->
			<!--<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>-->
             <!--&lt;!&ndash;help text goes here&ndash;&gt;-->
            <!--<p>Insert informative text and user guidelines here.</p>-->
        <!--</div>-->
        <!--<div class="suggestion">-->
        	<!--<h5>Past Company Suggestions</h5>-->
            <!--<div class="suggestion_box">-->
				<!--&lt;!&ndash;suggestion box goes here&ndash;&gt;-->
                <!--<p>Suggestion box needs to be fleshed out.</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->