<div class="tab_field" tab-label="Seniority Level">
	<div class="form_section" id="campaign_field_SeniorityLevel">
    	<h5 class="underline">Seniority Level</h5>
        <!--form elements go here-->
        $seniority
		<!--for a future version-->
        <!--<h5>Seniority level to search at</h5>-->
        <!--$campaignSeniority-->
    </div><div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
             <!--help text goes here-->
            <p>If you want to search for <em>all</em> seniority levels, <em>don’t check any</em> of them.</p> 
            <p>If you only want to search for <em>specific</em> seniority levels, then check the boxes that apply.</p> 
            
            <p>
                If you’re using seniority level, and you’ve already listed a <em>specific title</em> in the title section, 
                <em>do not use it</em> here because the query will not work properly.
            </p> 
            <p>
                <em>Example:</em> Chief Information Technology Officer is in the title, so for seniority level, 
                you wouldn’t use the specific title; you’d use a topic instead, such as SAAS.
            </p>
        </div>
    </div>
</div>