<div class="tab_field" tab-label="Postal Code">
  <div class="form_section">
    <h5 class="underline">Postal Code</h5>
    <!--form elements go here-->
    <div class="campaign-builder-parameter-box">
      <div class="form-group">
        <select name="postalCodeWithin" class="form-control">
          <option value="10">Within: 10 mi (15 km)</option>
          <option value="25">Within: 25 mi (40 km)</option>
          <option value="35">Within: 35 mi (55 km)</option>
          <option value="50">Within: 50 mi (80 km)</option>
          <option value="75">Within: 75 mi (120 km)</option>
          <option value="100">Within: 100 mi (160 km)</option>
        </select>
      </div>
      <div class="form-group">
        <select name="postalCodeCountry" class="form-control">
          <option value="us">United States</option>
          $countries
        </select>
      </div>
      <div class="form-group">
        <input  type="text" id="campaign_field_PostalCode" name="postalCode" placeholder="Enter a postal code..." class="form-control">
      </div>
    </div>
    <!--for a future version-->
    <!--<h5>Postal code to search within</h5>-->
    <!--<select name="postal_code_within">-->
      <!--<option value="10">Within: 10 mi (15 km)</option>-->
      <!--<option value="25">Within: 25 mi (40 km)</option>-->
      <!--<option value="35">Within: 35 mi (55 km)</option>-->
      <!--<option value="50">Within: 50 mi (80 km)</option>-->
      <!--<option value="75">Within: 75 mi (120 km)</option>-->
      <!--<option value="100">Within: 100 mi (160 km)</option>-->
    <!--</select>-->
    <!--$postalCode-->
    <!--<input type="text" name="postal_code" placeholder="Enter a postal code...">-->
  </div><div class="help_info_section">
    <div class="info">
      <h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
      <!--help text goes here-->
      <p>As opposed to the Geography, if you want to only hit a very specific area, then using postal code gives you the finest granularity of results</p>
    </div>
  </div>
</div>
