<div class="tab_field" tab-label="Keywords">
	<div class="form_section">
    	<h5 class="underline">Keywords</h5>
        <!--form elements go here-->
		<span class="parameter-title">VISIT profiles with these keywords (one per line)</span>
		<textarea id="campaign_field_KeywordsToVisit" class="form-control" name="keywords" placeholder="(one per line)"></textarea>
        <span class="parameter-title">SKIP profiles with any of these keywords</span>
      		<textarea id="campaign_field_KeywordsToSkip" class="form-control" name="skipKeywords" placeholder="(one per line)"></textarea>
		<!--for a future version-->
        <!--<h5>Keywords to use in search</h5>-->
        <!--<input type="text" name="keywords">-->
        <!--<input type="text" name="keywords">-->
        <!--<input type="text" name="keywords">-->
        <!--<input type="text" name="keywords">-->
        <!--<input type="text" name="keywords">-->
        <!--<input type="text" name="keywords">   -->
    </div><div class="help_info_section">
    	<div class="info">
			<h5 class="underline">Best Practices<span class="titleNote hideTitleTips right">Hide tips</span></h5>
             <!--help text goes here-->
            <p>
                <em>Do not use</em> titles in your <em>keyword</em> searches.
            </p> 
            <p>
                If you’re searching for words that might not be in their title, 
                but might be in the body text of their profile, you would add those words here.
            </p> 
            <p>
                <em>Example:</em> A Director of Training probably would not have e-learning in their title, 
                but you could search for people with e-learning backgrounds 
                who might have this word in the summary or content of their profile.
            </p>
        </div>
	<!--for a future version-->
        <!--<div class="suggestion">-->
        	<!--<h5>Keyword Suggestions</h5>-->
            <!--<div class="suggestion_box">-->
				<!--&lt;!&ndash;suggestion box goes here&ndash;&gt;-->
                <!--<p>Suggestion box needs to be fleshed out.</p>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>