<div class="campaign_modal_wrapper">
	<div class="campaign_modal_body">
		<div class="campaign_modal_tabs">
				
		</div>
        <div class="campaign_modal_main_panel"> 
				$innerHTML
		</div>
        <div class="campaign_modal_summary_panel"> 
            <div class="info">
       			<h5 class="underline">
                    <span class="titleNote left" id="showTitleTips" style="display:none">Show Tips
                    </span>Campaign Settings</h5>
                <div id="campaignSummaryTree"></div>
            </div>
		</div>
	</div>
</div>
